<!-- // -->

<div class="container footer-container">
    <div class="text-center center-block footer-block">
        <br />
        <!-- <a href="http://facebook.us13.list-manage.com/subscribe?u=a6bd9370a45ed22657eb7af16&id=d96251281c"><i id="social-nl" class="fa fa-calendar fa-2x social"></i></a>
        <a href="https://www.facebook.com/uclawatt/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
        <a href="https://www.flickr.com/photos/143450762@N06/"><i id="social-fl" class="fa fa-flickr fa-2x social"></i></a>
        <a href="mailto:wie.ieee.@gmail.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a> -->
    </div>
</div>
<!-- <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script> -->

<script src="../js/modal.js"></script>

<footer>
  <div class="modal-container hide sign-up-modal-container">
    <div class="my-modal sign-up-modal">
      <div class="modal-x">&times</div>
      <div class="event-left">
        <div class="event-image">
          <img src="" width="100%" id="modal-image">
        </div>
        <div class="event-text">Friends Going</div>
        <div class="event-friends">
          <div class="event-friend-block">
            <div class="event-friend-circle">
              <img src="img/map-icon.png" width="" height="20">
            </div>
          </div>
          <div class="event-friend-block">
            <div class="event-friend-circle">
              <img src="img/map-icon.png" width="" height="20">
            </div>
          </div>
          <div class="event-friend-block">
            <div class="event-friend-circle">
              <img src="img/map-icon.png" width="" height="20">
            </div>
          </div>
          <div class="event-friend-block">
            <div class="event-friend-circle">
              <img src="img/map-icon.png" width="" height="20">
            </div>
          </div>
          <div class="event-friend-block">
            <div class="event-friend-circle">
              <img src="img/map-icon.png" width="" height="20">
            </div>
          </div>
          <div class="event-friend-block">
            <div class="event-friend-circle">
              <img src="img/map-icon.png" width="" height="20">
            </div>
          </div>
        </div>
        <div class="btn-facebook">
          <div class="fb-text">Connect with Facebook</div>
        </div>

      </div> <!-- event-left -->
      <div class="event-right">
        <div class="event-date" id="event-date">NOV</div>
        <div class="event-title" id="event-title">ACA Hip Hop | Friends &amp Family Night (Fall 2017)</div>
        <div class="event-text" id="event-time">10 PM - 11 PM</div>
        <div class="event-text" id="event-location">UCLA Parking Structure 7</div>
        <div class="event-text"></div>
        <div class="event-text">Event Description</div>
        <div class="event-text" id="event-description">No event description has been written at this time.</div>
      </div>

    </div> <!-- modal sign-up-modal -->
    <div class="overlay" onClick="hideModal('sign-up')"></div>
  </div> <!-- modal-container hide sign-up-modal-container -->
</footer>

</body>
</html>
