<!-- // -->

<div class="container footer-container">
        <div class="text-center center-block footer-block">
            <br />
                <p class="footer-text">Subscribe to our newsletter and follow us on social media!</p>
                <a href="http://facebook.us13.list-manage.com/subscribe?u=a6bd9370a45ed22657eb7af16&id=d96251281c"><i id="social-nl" class="fa fa-calendar fa-2x social"></i></a>
                <a href="https://www.facebook.com/uclawatt/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                <a href="https://www.flickr.com/photos/143450762@N06/"><i id="social-fl" class="fa fa-flickr fa-2x social"></i></a>
	            <!-- <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> -->
	            <!-- <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> -->
	            <a href="mailto:wie.ieee.@gmail.com"><i id="social-em" class="fa fa-envelope fa-2x social"></i></a>
</div>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<!-- <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script> -->
<!-- AniJS Core File -->
<script type="text/javascript" src="../js/anijs/anijs-min.js"></script>

<script type="text/javascript" src="../js/anijs/helpers/scrollreveal/anijs-helper-scrollreveal-min.js"></script>
</body>
</html>
