<html>
<head>
    <title>Mappening</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600" rel="stylesheet">    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/modal.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" align="center">
        <div class="container-fluid nav-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="navbar-brand" href="/">
                    <img id="nav-logo" src="img/map-icon.png" width="" height="30" class="d-inline-block align-top" alt="">
                    mappening
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="sign-up-button">sign up</a>
                        <div class="modal" id="sign-up-modal">
                            <div class="modal-content">
                                <!-- <div class="field"> -->
                                <div class="modal-field" id="close">&times;</div>
                                <div class="modal-field">SIGN UP</div>
                                <div class="modal-field field">
                                    <input type="text" placeholder="Email Address">
                                </div>
                                <div class="modal-field field">
                                    <input type="text" placeholder="First Name">
                                </div>
                                <div class="modal-field field">
                                    <input type="text" placeholder="Last Name">
                                </div>
                                <div class="modal-field field">
                                    <input type="text" placeholder="Create a password">
                                </div>
                                <div class="modal-field field" id="create-button">Create account
                                </div>
                                <!-- </div> -->
                            </div>
                        </li>
                        <li class=""><a href="/login" style="color: rgb(255,24,59);">login</a></li>
                    </ul>
                    <!-- Search Box -->
                    <form class="navbar-form">
                        <div class="form-group" style="display:inline;" id="navBarSearchForm">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                <input type="text" list="searchList" class="form-control" id="search-input" placeholder="search for an event...">
                                <datalist id="searchList"></datalist>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
