<html>
<head>
    <title>Mappening</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Open+Sans:400,600,700|Roboto|Josefin+Sans" rel="stylesheet">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://anijs.github.io/lib/anicollection/anicollection.css" type="text/css"/>
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="img/faviconsFull/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/faviconsFull/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/faviconsFull/favicon-16x16.png">
    <link rel="manifest" href="img/faviconsFull/manifest.json">
    <link rel="mask-icon" href="img/faviconsFull/safari-pinned-tab.svg" color="#00e3b8">
    <meta name="apple-mobile-web-app-title" content="WATT">
    <meta name="application-name" content="WATT">
    <meta name="theme-color" content="#ffffff"> -->
    <meta name="google-site-verification" content="5Hi5XFtjut3QzXyZT4xu6CLoYvqL_CFqgzAiYrFA4s4" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script> -->
    <!-- <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script> -->
    <!-- <script src="../js/parallax.min.js"></script> -->
    <script src="../js/main.js"></script>
</head>
<body>
        <div>
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" id="navbar-brand" href="/"><img id="nav-logo" src="img/watt-logo-green.png">Mappening</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT</span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/mission">Mission</a></li>
                        <li><a href="/team">Board Members</a></li>
                        <li><a href="/families">Mentorship</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EVENTS</span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/calendar">Calendar</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="/projects">Projects</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SPONSORS</span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/sponsors">Sponsors</a></li>
                        <li><a href="/applytosponsor">Apply to Sponsor</a></li>
                        <li><a href="/memes">Thank You</a></li>
                      </ul>
                    </li>
                    <li><a href="/contact">CONTACT</a></li>
                    <!-- <li><a href="/blog">BLOG</a></li> -->
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
        </div>
