<html>
<head>
    <title>Mappening</title>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-title" content="Mappening">
    <meta name="application-name" content="Mappening">
    <meta name="theme-color" content="#ffffff">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600" rel="stylesheet">    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/modal.css" />

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" align="center">
        <div class="container-fluid nav-container">

            <!-- Title -->
            <div class="navbar-header pull-left" id="navbar-brand-div">
                <a class="navbar-brand" id="navbar-brand" href="/">
                    <img id="nav-logo" src="img/map-icon.png" width="" height="30" class="d-inline-block align-top" alt="">
                    mappening
                </a>
            </div>

            <!-- 'Sticky' (non-collapsing) right-side menu item(s) -->
            <div class="navbar-header" id="nav-non-collapse">
                <ul class="nav pull-right" id="non-collapse-ul">
                    <!-- Hidden Left Icon -->
                    <li id="mobile-left-icon" class="pull-left no-display">
                        <button class="navbar-form">
                        <i class="glyphicon glyphicon-chevron-left" id="left-icon"></i>
                        </button>
                    </li>
                    <li class="pull-left">
                        <!-- Search Box -->
                        <form class="navbar-form has-feedback has-feedback-left" id="searchForm">
                            <div class="form-group" style="display:inline;" id="navBarSearchForm">
                                <div class="input-group right-inner-addon">
                                    <input id="search-input" type="text" list="searchList" class="form-control regular-search-input" autocomplete="off" placeholder="search for an event...">
                                    <i class="glyphicon glyphicon-search form-control-feedback" id="searchIcon"></i>
                                    <datalist id="searchList"></datalist>
                                </div>
                            </div>
                        </form>
                    </li>
                    <!-- Required bootstrap placeholder for the collapsed menu -->
                    <li  id="collapsed-menu" class="pull-right">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </li>

                </ul>
            </div>

            <!-- The collapsing items -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <!-- pull-right keeps the dropdown in line -->
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li>
                      <a class="" id="sign-up-button">sign up</a>
                    </li>
                    <li class=""><a href="/login" style="color: rgb(255,24,59);">login</a></li>
                  </ul>

                </div>
            </div>
        </nav>
