<div class="calendar-container">
  <div class="calendar-header">
    <span class="long-abbr">Sun</span>
    <span class="long-abbr">Mon</span>
    <span class="long-abbr">Tue</span>
    <span class="long-abbr">Wed</span>
    <span class="long-abbr">Thu</span>
    <span class="long-abbr">Fri</span>
    <span class="long-abbr">Sat</span>
    <span class="short-abbr">S</span>
    <span class="short-abbr">M</span>
    <span class="short-abbr">T</span>
    <span class="short-abbr">W</span>
    <span class="short-abbr">T</span>
    <span class="short-abbr">F</span>
    <span class="short-abbr">S</span>
  </div>
  <div class="calendar-month">
    <div *ngFor="let day of days"
         class="calendar-day"
         [ngClass]="{'in-current-month': day.inCurrentMonth, 'current-day': day.selected, 'today': day === today}"
         (click)="onSelect(day)">
      <span [ngClass]="{'today': day === today}">{{day.dayOfMonth}}</span>

      <ul class="calendar-day-event" >
        <li *ngFor="let event of day.events">
            {{event.properties.name.length > 30 ? event.properties.name.substring(0,30) + "..." : event.properties.name}}
        </li>
      </ul>
      <div class="dot"  *ngIf="day.events.length != 0"></div>
    </div>
  </div>
</div>
