<div class="calendar-container">

  <!-- deleted selector because it is now in calendar-container component -->

  <div class="calendar-header">
    <span class="long-abbr">sun</span>
    <span class="long-abbr">mon</span>
    <span class="long-abbr">tue</span>
    <span class="long-abbr">wed</span>
    <span class="long-abbr">thu</span>
    <span class="long-abbr">fri</span>
    <span class="long-abbr">sat</span>
    <span class="short-abbr">s</span>
    <span class="short-abbr">m</span>
    <span class="short-abbr">t</span>
    <span class="short-abbr">w</span>
    <span class="short-abbr">t</span>
    <span class="short-abbr">f</span>
    <span class="short-abbr">s</span>
  </div>
  <div class="calendar-month">
    <div *ngFor="let day of days"
         class="calendar-day"
         [ngClass]="{'in-current-month': day.inCurrentMonth, 'current-day': day.selected, 'today': day === today}"
         (click)="onSelect(day)">
      <span [ngClass]="{'today': day === today}">{{day.dayOfMonth}}</span>

      <ul class="calendar-day-event" >
        <li *ngFor="let event of day.events">
            {{event.properties.name.length > 30 ? event.properties.name.substring(0,30) + "..." : event.properties.name}}
        </li>
      </ul>

      <div class="dot"  *ngIf="day.events.length != 0"></div>
    </div>
  </div>
</div>
