@import "../../gvars.scss";

:host {
  display: flex;
  flex: 1;
}

.calendar-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.calendar-header {
  width: 100%;
  display: flex;
  background: #fff;
  color: #3c3c3c;
  font-size: 30px;
  font-weight: bold;
}

.calendar-header span {
  display: flex;
  flex-basis: 14.2857%; /* 100/7 */
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.calendar-header span:not(.last-child) {
  border-right: $default_border_style;
}

.calendar-header > .short-abbr {
  display: none;
  background: #54D8D8;
  color: #fff;
  font-size: 13px;
}

.calendar-month {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-shrink: 0;
  border-top: $default_border_style;
}

.calendar-day {
  display: block;
  position: relative;
  flex-basis: 14.2857%; /* 100/7 */
  background: #fff;
  color: #bebebe;
  cursor: default;
  border-bottom: $default_border_style;
}

.calendar-day:not(:nth-child(7n)) {
  border-right: $default_border_style;
}

.calendar-day span {
  float: left;
  clear: left;
  text-align: center;
  margin: 5%;
}

.calendar-day.in-current-month {
  color: inherit;
}

.calendar-day.current-day {
  background: #ececec;
}

.calendar-day.today {
  color: #59dbd6;
  font-weight: 900;
}

.calendar-day-event {
  position: absolute;
  float: left;
  clear: left;
  top: 30px;
  font-size: 12px;
  margin: 1%;
  padding: 0;
  margin: 5%;
  list-style-type: none;
}

.calendar-day-event li {
  line-height: 15px;
  margin-bottom: 5px;
}

.dot {
  height: 0.5rem;
  width: 0.5rem;
  display: none;
  position: relative;
  background: #59dbd6;
  border-radius: 50%;
}

/* mobile css */
@media screen and (max-width: 768px) {

  /* display short day abbreviations */
  .calendar-header > .short-abbr {
    display: flex;
    height: 60px;
  }

  .calendar-header > .long-abbr {
    display: none;
  }

  .calendar-header span:not(.last-child) {
    border-right: 0px solid $default_border_color;
  }

  .calendar-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
  }

  .calendar-day-event{
    display: none;
  }

  .dot {
    display: block;
  }

}
