#categ-btn {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  border-radius: 0px;
  font-size: 20px;
}

#categ-div {
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid rgb(151, 151, 151);
}

.categ-bubble {
  margin-left: auto;
}

.categ-bubble-selected {
  background-color: #8cd3d6;
}

.zero-events {
  color: #c6c6c6 !important;
}

.dropdown-toggle {
  border-bottom: 1px solid rgb(151, 151, 151);
  color: #656565;
}

.dropdown-item {
  cursor: pointer;
  color: #747473;
  line-height: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn:hover {
  /* color: #5dbacd; */
}

.btn-light:hover {
  /* color: #5dbacd; */
}

#categ-btn {
  z-index: 999;
}

.dropdown-menu {
  z-index: 998;
}

.dropdown-content {
  top: 40px;
  background-color: white;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid rgb(151, 151, 151);
  overflow-y: scroll;
  display: block;
  flex: 1;
  flex-basis: 300px;
}

/*
.dropdown-content.show-toggle-btn {
  position: absolute;
  top: 40px;
}
*/

.section-header {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  background-color: #E8E8E8;
  font-size: 16px;
}

.filters-wrapper {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.filters-bottom-section {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.categories-list {
  width: 100%;
  padding: 0 0 0 0;
  margin-bottom: 0px;
}

.selected {
  /* background-color: #ff0000; */
  color: #77d5d7 !important;
}

.categ-checkbox {
  margin-right: 10px;
}

.categ-checkbox-checked {
  margin-right: 8px;
}

a:active {
  background-color: #F0F0F0;
}

a.clear-all-btn {
  float: right;
  margin-right: 15px;
  cursor: pointer;
  color: #808080;
  padding-left: 3px;
  padding-right: 3px;
}

a.clear-all-btn:hover {
  color: #BEBEBE;
}

a.clear-all-btn:active {
  background-color: inherit;
}

.btn.filter-btn {
  border-color: #d3d3d3;
  border-width: 1px;
  /* background-color: #E8E8E8; */
  height: 40px;
  pointer-events: auto;
  transition: unset;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.filter-group + .filter-group {
  margin-top: 10px;
}

.btn.filter-btn:hover {
  background-color: #59dbd6;
  color: #fff;
}

.btn.filter-btn.active:hover {
  color: #ffffff;
}

.btn.filter-btn:active {
  border-color: #d3d3d3;
}

.btn.filter-btn.active {
  background-color: #4ad3d3;
  border-color: #d3d3d3;
}

.btn.filter-btn.disabled {
  pointer-events: none;
  opacity: .5;
}

.checkbox-container {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 11px;
}
