{{> header}}

<div class="container home-container">
    <!-- Sidebar Search Results -->
    <div id="search-results"></div>
    <div class="row home-row" id="regular-mount">
            <div class="sidebar-mount col-sm-4 col-md-4">
              <div id="categ-dropdown-mount"></div>
              <div id="events-mount"></div>
            </div>
            <div class="map-display col-sm-8 col-md-8" id="map">
              <div class='map-overlay top'>
                  <div class='map-overlay-inner'>
                    <p id="leftArrow" display="-webkit-inline-box" onclick="previousDay()"></p>
                    <p id="relativeDay"><br></p>
                    <p id="currDate"></p>
                    <p id="rightArrow"style="display:inline" onclick="nextDay()"></p>
                      <!--input id='slider' type='range' min='0' max='48' step='1' value='24' list='tickmarks'/-->
                  </div>
              </div>
            </div>
    </div>
    <div class="row home-row" id="mobile-mount"></div>
</div>

{{> footer}}
