{{> header}}


<div id="events-mount"></div>
<script id="some-template" type="text/x-handlebars-template"> <table>
    <div class="sidebar">
        \{{#each events}}
        <div class="sidebar-event">
            <img src="\{{this.cover_picture}}" class="sidebar-event-img"></img>
            <div class="sidebar-event-details">
                <p>\{{this.event_name}}</p>

            </div>
        </div>
        \{{/each}}
    </div>
</table>
</script>


{{> footer}}
