
body.locked{
	overflow: hidden;
}

.hide{
	display: none;
}

/*.sign-up-trigger-modal{
	background-color: red;
}*/
.sign-up-trigger-modal:hover{
	box-shadow: 0px 1px 4px 0 rgba(34, 36, 38, 0.3);
	opacity: 0.7;
}

.modal-container .overlay{
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.4);
}

.modal-container{

	z-index: 500;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;

}

.sign-up-modal {
	width: 65%;
	height: 80%;
}

.my-modal{
	z-index: 750;
	position: absolute;
	background: white;
	box-shadow: 0px 1px 4px 0 rgba(34, 36, 38, 0.3);
	padding: 60px;
	border-radius: 2px;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);

	left: 50%;
	top: 50%;
	overflow: auto; 
	display: flex;

}

.modal-x {
	position: fixed;
	font-weight: lighter;
	font-size: 40px;
	height: 30px;
	opacity: .6;
	float: left;
	-webkit-transform: translate(-150%, -150%);
			transform: translate(-175%, -175%);

}

.modal-x:hover {
	opacity: 1;
	/*transition: 0.2s;*/
}

.event-left {
	display: block;
	max-width: 325px;
	width: 45%;
	margin: 0px 30px 0px 0px;
}

.event-image {
	object-fit: cover;
	height: 90%;
	width: 100%;
	/*border: 1px solid grey;*/
	box-shadow: 0px 1px 4px 0 rgba(34, 36, 38, 0.3);
/*	width: 90px;
    height: 90px;*/
    margin-right: 5%;
}

.event-text{
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	color: rgb(83, 83, 83);
	padding: 15px 15px 0px 0px;
}

.event-friends {
	width: 100%;
	max-width: 100%;
	display: table;
	margin: 0 auto;
	justify-content: center;
	/*transform: translateX(50%, 50%);*/
}

.event-friend-block {
	display: flex;
	float: left;
  	align-items: center;
  	justify-content: center;
  	margin: 0px 0px 0px 0px;
  	width: 45px;
  	height: 45px;
}

.event-friend-circle{
	position: absolute;
	display: flex;
    align-items: center;
    justify-content: center;
	cursor: pointer;
	height: 30px;
	width: 30px;
	border-radius: 20px;
	box-shadow: 0px 1px 5px 0 rgba(34, 36, 38, 0.3);
	padding: 15px;
}

.btn-facebook{
	display: table;
	width: 90%;
	max-width: 100%;
	background-color: #3b5998;
	border-radius: 5px;
	text-align: center;
	line-height: 30px;
	-webkit-align-self: center; /* Safari 7.0+ */
    align-self: center;
	margin: 0 auto;
	margin-top: 10px;
	
}

.btn-facebook .fb-text{
	color: white;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
}

@media (max-width: 768px) {
  .btn-facebook {
  	margin: 5px;
  	line-height: 20px;
  }
  .btn-facebook .fb-text {
    font-size: 10px;
  }
}

.event-right {
	display: block;
	max-width: 325px;
	width: 50%;
	padding: 0px 0px 10px 30px;
	overflow: auto;
}

.event-date {
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 1px;
	max-width: 30px;
	margin: 0px 0px 5px 0px;
}

.event-title {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 0px 0px 10px 0px;
}

#event-time{
	padding: 0px 0px 0px 0px;
}

#event-location{
	padding: 0px 0px 0px 0px;
}

#event-description {
	font-weight: normal;
	font-size: 12px;
	margin: 0px 0px 10px 0px;
}






/* Random stuff */

.modal-field-content{
	margin-top: 15px;

	.field{
		input:focus{
			outline: none !important;
		}
	}
	.chat_modal{
		text-align: center;
	}

}

.modal-field-content.padded{
	padding-bottom: 10px;
}
