body.locked{
	overflow: hidden;
}

.hide{
	display: none;
}

.event-trigger-modal:hover{
	box-shadow: 0px 1px 4px 0 rgba(34, 36, 38, 0.3);
	opacity: 0.7;
}

.modal-container .overlay{
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
}

.modal-container{
	z-index: 500;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;

}

.event-modal {
/*	width: 65%;
	height: 80%;*/
	width: 55%;
	height: 85%;
	overflow: auto;
}

.my-modal{
	z-index: 750;
	position: fixed;
	background: white;
	box-shadow: 0px 1px 4px 0 rgba(34, 36, 38, 0.3);
	padding: 55px;
	border-radius: 2px;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);

	left: 50%;
	top: 50%;
}

.modal-x {
	position: fixed;
	opacity: 0.7;
	float: right;
	top: 0;
	right: 0;
	transform: translate(-100%, 100%);
	height: 25px;
/*	font-weight: lighter;
	font-size: 40px;
	opacity: .6;
	float: right;
	transform: translate(-100%, 0%);
	top: 0;
	right: 0;*/

}

.modal-x:hover {
	opacity: 1;
	/*transition: 0.2s;*/
}

.event-left {
	display: inline-block;
	vertical-align: top;
	max-width: 200px;
	width: 33%;
	/*height: 100%;*/
	/*padding: 20px 0px 0px 0px;*/
/*	margin-right: 5%;*/
}

.event-image {
	object-fit: cover;
	height: 240px;
	width: 100%;
	/*border: 1px solid grey;*/
	box-shadow: 0px 1px 4px 0 rgba(34, 36, 38, 0.3);
/*	width: 90px;
    height: 90px;*/
    display: inline-block;
}

.event-text{
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	color: rgb(83, 83, 83);
	padding: 3px 0px 0px 0px;
}

#event-description {
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 1px;
	color: rgb(83, 83, 83);
	overflow: scroll;
}

.event-right {
	display: inline-block;
	/*vertical-align: right;*/
	/*position: relative;*/
	max-width: 400px;
	width: 64%;
	height: 36%;
	max-height: 126px;
	overflow: scroll;
	/*height: 50%;*/
	/*max-height: 250px;*/
	/*overflow: scroll;*/
	margin: 0px 0px 0px 5px;
	justify-content: end;
}

.event-date {
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 1px;
	max-width: 30px;
	margin: 0px 0px 5px 0px;
}

.event-title {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 15px 0px 12px 0px;
}

.more-button {
	color: rgb(61, 188, 207);
	position: relative;
	float: right;
	/*align-self: right;*/
}
#left-icon{
	display: none;
}
.event-line{
	display: none;
}

@media (max-width: 992px) {
	#left-chevron {
		display: block;
		height: 40px;
		font-size: 25px;
		color: rgb(240,240,240);
		font-weight: 250;
		line-height: 50px;
		margin-left: 10px;
	}
	.modal-x:hover {
		opacity: 0;
	}
	.event-header {
		height: 50px;
		border-bottom: 1px black;
		background: linear-gradient(#43576B, #8296A1);
	}
	.event-modal {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.event-title{
		font-size: 20px;
		color: rgb(126, 126, 126);
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
	}
	.event-text{
		color: rgb(126, 126, 126);
	}
	.event-left{
		color: rgb(126, 126, 126);
		text-align: center;
		padding-left: 25px;
		padding-right: 25px;
		width: 100%;
		max-width: 100%;
	}
	.event-line {
		margin-left: 25px;
		margin-right: 25px;
		display: block;
	}
	.event-right {
		padding-top: 10px;

		padding-right: 25px;
		padding-left: 25px;
		padding-bottom: 15px;
		margin-bottom: 25px;
		width: 100%;
		max-width: 100%;
		max-height: 100%;
	}
	.my-modal{
		padding: 0px;
	}
	.modal-x{
		float: left;
		left: 0;
		height: 30px;
		transform: translate(20%, 50%);
		opacity: 0;
	}
	.event-text{
		font-size: 14px;
	}
	#event-description{
		font-size: 14px;
		color: rgb(121, 121, 121);
		
	}

}



