/*--------------------------------------- EVERYTHING ---------------------------------------*/

body {
    font:15px arial,sans-serif;
    background: rgb(251, 250, 250);
    margin-top: 70px;
    font-family: 'Poppins', sans-serif;
}
h1 {
    margin: 0 0 10px 0;
    padding: 5px;
    font-size: 24px;
    background-color: #999;
    color: #fff;
}
table {
    margin: 10px;
}
th, td {
    padding: 5px;
    border: 1px solid #999;
}
th {
    background: #ccc;
}
tr:nth-child(odd) {
    background: #eee;
}
td a {
    color: #000;
    text-decoration: underline;
}

/*---------------------------------------NAVBAR---------------------------------------*/
.navbar {
    z-index: 100;
}

.nav-container {
    margin-left: 14px;
}

.navbar-default{
    background: linear-gradient(#43576B, #8296A1);
    border-color: rgb(191,191,191);
}

.navbar-default .navbar-nav > .active{
  background: rgb(216,216,216);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
     background: rgb(216,216,216);
}

.navbar-default .navbar-nav>li>a {
    color: rgb(128,128,128);
    font-weight: 600;
}

.navbar-form{
    display: inline-block;
}

.no-display{
    display: none !important;
}

#navbar-brand{
    color: white;
    font-weight: 600;
}

#nav-logo{
    display: inline-block;
}

ul li {
    border-radius: 100px;
}

li a {
    border-radius: 100px;
}

/*------------------------------------SEARCH BAR------------------------------------- */

#mobile-left-icon button{
    border-color: transparent;
    margin-top: 6px;
    padding: 10px;
}

#navBarSearchForm div input[type=text] {
    margin: 0px;
}

.input-group-addon{
    background: white;
}

/* specifically hide the arrow on focus */
input::-webkit-calendar-picker-indicator {
	display: none;
}

/* MEDIA QUERIES FOR RESIZING SEARCH BAR*/
/* definitely should be doing it dynamically but attempts were unsucessful */

#navBarSearchForm input{
    width:1000px !important;
}

@media (max-width: 1400px){
    #navBarSearchForm input{
        width:800px !important;
    }
}

@media (max-width: 1200px){
    #navBarSearchForm input{
        width:600px !important;
    }
}

@media (max-width: 1000px){
    #navBarSearchForm input{
        width:400px !important;
    }
}

@media (max-width: 800px){
    #navBarSearchForm input{
        width:200px !important;
    }
}

@media (max-width: 767px){
    .navbar-collapse .navbar-nav{
        float: none !important;
    }
    #navBarSearchForm input{
        outline: none;
        width: 600px !important;
        border-color: transparent;
    }
    #searchForm{
        height: 34px;
        width: 39px;
        border-top: 0px;
        border-bottom: 0px;
        padding: 0px;
        margin-left: 0px;
        margin-right: 20px;
    }
    .form-control{
        box-shadow: none;
    }
}
@media (max-width: 700px){
    #navBarSearchForm input{
        width: 525px !important;
    }
}
@media (max-width: 600px){
    #navBarSearchForm input{
        width: 425px !important;
    }
}
@media (max-width: 500px){
    #navBarSearchForm input{
        width: 325px !important;
    }
}
@media (max-width: 400px){
    #navBarSearchForm input{
        width: 225px !important;
    }
}
@media (max-width: 300px){
    #navBarSearchForm input{
        width: 125px !important;
    }
}

@media (max-width: 200px){
    #navBarSearchForm input{
        width: 0px !important;
    }
}

/* SEARCH ICON*/

.has-feedback .form-control {
  padding-right: 34px;
}
.has-feedback .form-control.input-sm,
.has-feedback.form-group-sm .form-control {
  padding-right: 30px;
}
.has-feedback .form-control.input-lg,
.has-feedback.form-group-lg .form-control {
  padding-right: 46px;
}
.has-feedback-left .form-control {
  padding-right: 12px;
  padding-left: 34px;
}
.has-feedback-left .form-control.input-sm,
.has-feedback-left.form-group-sm .form-control {
  padding-left: 30px;
}
.has-feedback-left .form-control.input-lg,
.has-feedback-left.form-group-lg .form-control {
  padding-left: 46px;
}
.has-feedback-left .form-control-feedback {
  left: 0;
}
.form-control-feedback {
  line-height: 34px !important;
}
.input-sm + .form-control-feedback,
.form-horizontal .form-group-sm .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px !important;
}
.input-lg + .form-control-feedback,
.form-horizontal .form-group-lg .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px !important;
}
.has-feedback label.sr-only ~ .form-control-feedback,
.has-feedback label.sr-only ~ div .form-control-feedback {
  top: 0;
}
@media (min-width: 768px) {
  .form-inline .inline-feedback {
    position: relative;
    display: inline-block;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-horizontal .has-feedback-left .form-control-feedback {
  left: 15px;
}

/*-------------------------------------SIDEBAR-------------------------------------*/

.home-container{
    width: 90%;
}

.home-row{
    display: flex;
    height: 97%;
}

#events-mount{
    height: 100%;
}
.sidebar-mount{
    min-width: 270px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: -1px 1px 1px #888888;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(207,207,207);
}

.sidebar{
    height: 90%;
    overflow: scroll;
}

.sidebar-header{
    background-color: rgb(223,222,221);
    padding-top: 4%;
    padding-bottom: 1%;
    box-shadow: -1px 1px 1px rgb(207,207,207);
    text-align: center;
    color: rgb(70,70,70);
}

.sidebar-event {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    display: inline-block;
}

.sidebar-event-img{
    object-fit: cover;
    width: 90px;
    height: 90px;
    margin-right: 5%;
    vertical-align: top;
}

.sidebar-event-details {
    font-size: 11px;
    width: 120px;
    display: inline-block;
    vertical-align: top;
    color: #403F3F;
}

.sidebar-event-details p {
    margin-bottom: 0px;
}

.sidebar-event-name {
    color: #FF3A3A;
    font-weight: bold;
}

.dropdown-menu {
    width: 100%;
}

/* Using only background gradients */

.seperator
{
    height: 2px;
    background-image: radial-gradient(#CCC, #FFF), radial-gradient(#CCC, #FFF);
    background-position: 0, 100%, 0, 100%;
}

#categ-dropdown-text{
    padding-left: 25%;
    padding-right: 25%;
}

/*--------------------------------------MAP--------------------------------------*/
#map {
    top:0;
    bottom:0;
    width: 100%;
    height: 100%;
    box-shadow: -1px 1px 1px #888888;
    padding-left: 0;
}

@media(min-width: 767px){
    #mobile-mount{
        height: 0;
    }
}

@media (max-width: 767px){
    #map{
        height: 45%;
        padding-left: 0%;
    }
    .home-row{
        height: auto;
        display: block;
    }
    .sidebar-mount{
        margin-right: 0%;
    }
    .sidebar{
        height: 42%;
    }
    #events-mount{
        height: auto;
    }
}

/* getting rid of mapbox logos */
a.mapboxgl-ctrl-logo {
  height: 0;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  height: 0;
}

/*-------------------------------------- SLIDER --------------------------------------*/
/* #slider{
  padding-right: 0%;
  background: -webkit-repeating-linear-gradient(90deg, #777, #777 2px, transparent 2px, transparent 40px) no-repeat 50% 50%;
  background: -moz-repeating-linear-gradient(90deg, #777, #777 2px, transparent 2px, transparent 40px) no-repeat 50% 50%;
  background: repeating-linear-gradient(90deg, #777, #777 2px, transparent 2px, transparent 40px) no-repeat 50% 50%;
} */
.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 98%;
    bottom: 0;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 1;
    opacity: 1;
}

option{
  min-height:10px;
  white-space: normal;
  padding: 1.24%;
  padding-bottom: 0;
  padding-top: 0;
}

datalist{
  display: flex;
}

/*
Picking Date
*/
#leftArrow {
  left:0;
}

#relativeDay {
  position: absolute;
  display: inline-block;
  bottom: 45;
  font-weight:bolder;
  -webkit-text-stroke: .05px #FCFCFC;
  -webkit-text-fill-color: #000000;
}

#currDate {
  font-size: 20;
  position: relative;
  display: inline-block;
  padding: initial;
  font-weight:bolder;
  -webkit-text-stroke: .05px #FCFCFC;
  -webkit-text-fill-color: #000000;
}

p {
  display: inline-block;
}
.map-overlay .map-overlay-inner {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 13;
    letter-spacing: 2px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}


.map-overlay h2 {
    line-height: 24px;
    display: block;
    margin: 0 0 10px;
}

.map-overlay .legend .bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #FCA107, #7F3121);
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: pointer;
    bottom: 6.5px;
}

/*
Formatting popup
*/

#popupDate {
  color: red;
}
.mapboxgl-popup {
  font-family: 'Poppins', sans-serif;
  max-width: 165;
  text-align: center;
  padding: inherit;
}
