body {
    font:15px arial,sans-serif;
    background: rgb(237, 237, 237);
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
}
h1 {
    margin: 0 0 10px 0;
    padding: 5px;
    font-size: 24px;
    background-color: #999;
    color: #fff;
}
table {
    margin: 10px;
}
th, td {
    padding: 5px;
    border: 1px solid #999;
}
th {
    background: #ccc;
}
tr:nth-child(odd) {
    background: #eee;
}
td a {
    color: #000;
    text-decoration: underline;
}

/*NAVBAR*/
.navbar-default{
    background-color: rgb(237, 237, 237);
    border-color: transparent;
}

.navbar-default .navbar-nav > .active{
   /*color: #000;*/
  background: rgb(216,216,216);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
     /*color: #000;*/
     background: rgb(216,216,216);
}

ul li {
    border-radius: 100px;
    margin: 10px;
}

li a {
    border-radius: 100px;
}

/*SIDEBAR*/

#events-mount{
    margin-left: 4%;
    background: rgb(216,216,216);
    width: 30%;
    min-width: 260px;
}

.sidebar{
}

.sidebar-event{
    padding: 10%;
    display: flex;
}

.sidebar-event-img{
    object-fit: cover;
    width:100px;
    height:100px;
    margin-right: 10%;
}

.sidebar-event-details {
    font-size: 13px;
}
