.navbar {
    z-index: 100;
}

.navbar-text {
  color: white;
  margin-right: 10px;
}

.navbar-default{
    background: rgb(71,71,71);
    border-color: rgb(191,191,191);
}

.navbar-default .navbar-toggler {
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar-default .navbar-toggler i {
    padding: 5px;
    color: #fff;
    font-size: 12px;
}

.navbar-default .navbar-nav > .active{
    background: rgb(216,216,216);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: rgb(216,216,216);
}

.navbar-default .navbar-nav>li>a {
    color: rgb(128,128,128);
    font-weight: 600;
}

.no-display{
    display: none !important;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  margin-left: 5px;
}

#navbar-brand{
    color: #59dbd6;
    font-weight: 600;
}

#brand-name{
  margin-left: 9px;
}

#filter-dropdown-toggle {
    color: #9d9d9d;
    font-size: 30px;
    cursor: pointer;
}

.nav-logo{
    display: inline-block;
}

.navbar-collapse {
  margin: .5rem -1rem;
  width: 100%;
}

.navbar-collapse.menu {
  padding: 0 1rem .5rem;
  position: absolute;
  top: var(--navbar-height);
  margin-top: 0;
  background: rgb(71,71,71);
}

.navbar-collapse.filter {
  margin-bottom: -.5rem;
  border-bottom: 1px solid rgb(191,191,191);
}

@media (min-width: 768px){
    .navbar-toggler {
        display: none !important;
    }

    .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-collapse {
        display: flex !important;
        width: 100%;
        margin: 0;
    }

    .navbar-collapse.menu {
        padding: 0;
        position: static;
        top: 0;
    }

    .navbar-toggleable-md{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .d-md-none-important {
      display: none !important;
    }
}

ul li {
    border-radius: 100px;
}

li a {
    border-radius: 100px;
}

a:hover{
    text-decoration: none;
}
