<nav class="navbar navbar-toggleable-md  navbar-default">
    <button (click)="toggleMenuCollapse()" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img class="nav-logo" src="/assets/images/map-icon.png" width="" height="30" class="d-inline-block align-top" alt="">
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </button>
    <app-date-selector class="d-md-none"></app-date-selector>
    <div class="navbar-brand">
      <button (click)="toggleFilterCollapse()" class="navbar-toggler" type="button">
        <i class="d-md-none fa fa-sliders" id="filter-dropdown-toggle" aria-hidden="true"></i>
      </button>
      <a class="d-none d-md-inline-block" id="navbar-brand" href="/">
          <img class="nav-logo" src="/assets/images/map-icon.png" width="" height="30" class="align-top" alt="">
          <span id="brand-name">mappening</span>
      </a>
    </div>
    <div class="collapse navbar-collapse menu" id="navbarSupportedContent" [collapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
        </ul>
        <span class="navbar-text" (click)="switchTemperature()">
            <img class="weather-icon"
            src="{{
                checkImage('/assets/images/weather/'+weatherIcon+'.svg') ?
                '/assets/images/weather/'+weatherIcon+'.svg'
                : '/assets/images/weather.svg'
                }}"
                />
            {{temperature}}
        </span>
        <span class="views-switch" (click)="toggleViews()" [ngClass]="isMapSelected ? 'checked' : ''">
          <small></small>
          <input type="checkbox" style="display:none">
          <span class="views-switch-text">
            <span routerLink="/map" routerLinkActive="active" class="map-switch" (click)="toggleViews()" >
              <img src="/assets/images/switch-map-icon.svg" (click)="toggleViews()">
            </span>
            <span *ngIf="this.isMonth; else monthButton">
              <span routerLink="/calendar/month" routerLinkActive="active" class="calendar-switch" (click)="toggleViews()">
                <img src="/assets/images/calendars/{{currentDate}}.svg" (click)="toggleViews()">
              </span>
            </span>
            <ng-template #monthButton>
              <span routerLink="/calendar/week" routerLinkActive="active" class="calendar-switch" (click)="toggleViews()">
                <img src="/assets/images/calendars/{{currentDate}}.svg" (click)="toggleViews()">
              </span>
            </ng-template>
          </span>
        </span>
        <span class="navbar-text">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeudgP40DbYuAGnbSEI1FT_ip50aM4VYHQHkqJAfxqOHa5Ecw/viewform?usp=sf_link" style="color: white;">Feedback</a>
        </span>
    </div>
    <div class="collapse navbar-collapse d-md-none-important filter" id="filter-collapse" [collapse]="isFilterCollapsed">
      <span *ngIf="this._viewService.isMapView(); else calendarView">
        <app-category-bar-map [showToggleButton]="false"></app-category-bar-map>
      </span>
      <ng-template #calendarView>
        <app-category-bar-calendar [showToggleButton]="false"></app-category-bar-calendar>
      </ng-template>
    </div>
</nav>
