<nav class="navbar navbar-toggleable-lg">
  <!-- Mobile Navbar Controls -->
  <!-- menu dropdown -->
  <button (click)="toggleMenuCollapse()" class="navbar-toggler navbar-toggler-left" type="button"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="icon-bars" aria-hidden="true" *ngIf="isMenuCollapsed"></i>
      <i class="icon-times" aria-hidden="true" *ngIf="!isMenuCollapsed"></i>
  </button>
  <!-- date selector -->
  <div *ngIf="isMapSelected; else calendarViewSelect" class="d-lg-none">
    <app-date-selector></app-date-selector>
  </div>
  <!-- calendar view select -->
  <ng-template #calendarViewSelect>
    <div class="d-lg-none mobile-calendar-view-switch">
      <span [ngClass]="currentView == 1 ? 'mobile-calendar-view-button active' : 'mobile-calendar-view-button'" (click)="changeView(1)">3-Day</span>
      <span [ngClass]="currentView == 2 ? 'mobile-calendar-view-button active' : 'mobile-calendar-view-button'" (click)="changeView(2)">Week</span>
      <span [ngClass]="currentView == 3 ? 'mobile-calendar-view-button active' : 'mobile-calendar-view-button'" (click)="changeView(3)">Month</span>
    </div>
  </ng-template>
  <!-- filter dropdown -->
  <button (click)="toggleFilterCollapse()" class="navbar-toggler navbar-toggler-right" type="button">
    <i class="icon-filter" id="filter-dropdown-toggle" aria-hidden="true" *ngIf="isFilterCollapsed"></i>
    <i class="icon-times" id="filter-dropdown-toggle-2" aria-hidden="true" *ngIf="!isFilterCollapsed"></i>
  </button>
  <div class="collapse navbar-collapse d-lg-none-important filter" id="filter-collapse" [collapse]="isFilterCollapsed">
    <!-- map filters -->
    <span>
      <app-filter-bar [showToggleButton]="false"></app-filter-bar>
    </span>
  </div>
  <!-- Desktop Navbar Controls -->
  <!-- brand info -->
  <div class="navbar-brand">
    <a class="d-none d-lg-inline-block" id="navbar-brand" href="/">
      <img class="nav-logo" src="/assets/images/map-icon-small.png" width="" height="30" class="align-top" alt="">
      <span id="brand-name">bmaps</span>
    </a>
  </div>
  <!-- menu -->
  <div class="collapse navbar-collapse menu" id="navbarSupportedContent" [collapse]="isMenuCollapsed">
    <ul class="navbar-nav ml-auto">
      <!-- temperature -->
      <span class="navbar-text" (click)="switchTemperature()">
        <img class="weather-icon" src="{{_eventService.checkImage('/assets/images/weather/'+weatherIcon+'.svg') ? '/assets/images/weather/'+weatherIcon+'.svg' : '/assets/images/weather.svg'}}"/>
        {{temperature}}
      </span>
      <!-- map/calendar switch -->
      <li>
        <span [ngClass]="isMapSelected ? 'navbar-text active' : 'navbar-text'" (click)="changeView(0)">Map View</span>
      </li>
      <li>
        <span [ngClass]="isMapSelected ? 'navbar-text' : 'navbar-text active'" (click)="changeView(lastCalendarView())">Calendar View</span>
      </li>
      <!-- install and feedback -->
      <li>
        <span class="navbar-text" id="install-button">Install</span>
      </li>
      <li>
        <span class="navbar-text" id="feedback-button"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeudgP40DbYuAGnbSEI1FT_ip50aM4VYHQHkqJAfxqOHa5Ecw/viewform?usp=sf_link" target="_blank" alt="Bmaps Feedback">Feedback</a></span>
      </li>
    </ul>
  </div>
</nav>
