.navbar {
    z-index: 100;
    flex-wrap: nowrap;
}

.navbar-default{
    background: rgb(71,71,71);
    border-color: rgb(191,191,191);
}

.navbar-default .navbar-toggler {
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 10px;
}

.navbar-default .navbar-toggler i {
    padding: 5px;
    color: #fff;
    font-size: 12px;
}

.navbar-default .navbar-nav > .active{
    background: rgb(216,216,216);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: rgb(216,216,216);
}

.navbar-default .navbar-nav>li>a {
    color: rgb(128,128,128);
    font-weight: 600;
}

.no-display{
    display: none !important;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

#navbar-brand{
    color: rgb(120,213,215);
    font-weight: 600;
}

#filter-dropdown-toggle {
    color: #9d9d9d;
    font-size: 30px;
    cursor: pointer;
}

.nav-logo{
    display: inline-block;
}

@media (min-width: 768px){
    .navbar-toggler {
        display: none !important;
    }

    .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navbar-collapse {
        display: flex !important;
        width: 100%;
    }

    .navbar-toggleable-md{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

ul li {
    border-radius: 100px;
}

li a {
    border-radius: 100px;
}

a:hover{
    text-decoration: none;
}
