@import "../../gvars.scss";

.navbar {
  height: var(--navbar-height);
  background: rgb(71,71,71);
  z-index: 5000;
  border-color: $default_border_color;
}

.d-md-none{
  width: 70%;
  position: relative;
  left: 15%;
  margin: 0;
  padding: 0;
}

.navbar-text {
  color: white;
  outline: 0;
  margin-right: 10px;
}

.navbar-text.active {
  color: rgb(120,213,215);
}

.navbar-text:hover {
  cursor: pointer;
}

.navbar-toggler {
  width: 10%;
  height: 40px;
  position: absolute;
  top: 8px;
  cursor: pointer;
  align-items: center;
  padding: 0;
}

.navbar-toggler-right {
  position: absolute;
  right: 5%;
}

.navbar-toggler-left {
  position: absolute;
  left: 4%;
}

.navbar-toggler i {
  color: #9d9d9d;
  font-size: 20px;
  padding: 5px;
}

.navbar .navbar-nav > .active,
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  background: rgb(216,216,216);
}

.navbar .navbar-nav > li > a {
  color: rgb(128,128,128);
  font-weight: 600;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  margin-left: 5px;
}

#navbar-brand{
  color: #59dbd6;
  font-weight: 600;
}

.nav-logo{
  display: inline-block;
  outline: 0;
}

#brand-name{
  margin-left: 9px;
}

button {
  outline: 0;
}

a:hover {
  text-decoration: none;
}

#install-button {
  display: none;
}

#feedback-button a {
  color: white;
}

.filter-collapse {
  z-index: 5000;
}

#filter-dropdown-toggle {
  color: #9d9d9d;
  font-size: 25px;
}

#filter-dropdown-toggle-2 {
  color: #9d9d9d;
  font-size: 20px;
}

ul li {
  border-radius: 100px;
}

li a {
  border-radius: 100px;
}

.weather-icon{
  height: 20px;
  display: inline-block;
}

.navbar-collapse {
  width: 100%;
  margin: .5rem -1rem;
}

.navbar-collapse.menu {
  position: absolute;
  top: var(--navbar-height);
  background: rgb(71,71,71);
  z-index: 5000;
  padding: 0 1rem .5rem;
  margin-top: 0;
}

.navbar-collapse.filter {
  position: absolute;
  top: var(--navbar-height);
  margin-bottom: -.5rem;
  margin-top: 0;
  border-bottom: $default_border_style;
}

.mobile-calendar-view-switch {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-48%, 0%);
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.mobile-calendar-view-button {
  color: white;
  padding: 2px 7px 2px 7px;
  margin: 0px 10px 0px 10px;
  border-radius: 7px;
}

.mobile-calendar-view-button.active {
  background: #53D7D7;
}

/* exclusively desktop css */
@media screen and (min-width: 768px){

  .navbar-toggler {
    display: none !important;
  }

  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-collapse {
    display: flex !important;
    margin: 0;
  }

  .navbar-collapse.menu {
    position: static;
    top: 0;
    flex-direction: right;
    padding: 0;
  }

  .navbar-toggleable-md{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .d-md-none-important {
    display: none !important;
  }

}
