<!--
<div class="week-mobile-container">
	<div class="week-summary">
		{{this.currentDay.format("MMMM D")}} - {{this.currentDay.clone().add(6, 'day').format("MMMM D, YYYY")}}
	</div>
	<table class="time-of-day" id="far-left">
      <tr><td id="hour-slot">PLACE</td></tr><tr><td>TIME</td></tr><tr><td>2am</td></tr><tr><td>3am</td></tr><tr><td>4am</td></tr>
      <tr><td>5am</td></tr><tr><td>6am</td></tr><tr><td>7am</td></tr><tr><td>8am</td></tr><tr><td>9am</td></tr>
      <tr><td>10am</td></tr><tr><td>11am</td></tr><tr><td>12pm</td></tr><tr><td>1pm</td></tr><tr><td>2pm</td></tr>
      <tr><td>3pm</td></tr><tr><td>4pm</td></tr><tr><td>5pm</td></tr><tr><td>6pm</td></tr><tr><td>7pm</td></tr>
      <tr><td>8pm</td></tr><tr><td>9pm</td></tr><tr><td>10pm</td></tr><tr><td>11pm</td><tr><td>12am</td></tr>
      </table>
</div>
-->