@import "../../gvars.scss";

.selector {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: normal;
    text-align: center;
    padding: 0px 15px;
    border-radius: 20px;
}

@media only screen and (min-width: 768px) {
    .selector {
        width: 100%;
        height: 44px;
        margin: 0 auto;
        background-color: white;
        border-color: $default_border_color;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-radius: initial;
        text-align: center;
        display: flex; 
        align-items: center;
    }
}

.custom-btn {
    background: none;
    /* color: inherit; */
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: color 0.2s ease;
    position: relative;
    font-size: 30px;
    color: #656565;
}

.custom-btn:hover {
    color: #5dbacd;
}

#date-text {
    display: table-cell;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    line-height: 1.1;
}

.small-font {
    font-size: 10px;
}

.sm-text {
    font-size: 14px;
}

.md-text {
    display: none;
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    .sm-text {
        display: none;
    }

    .md-text {
        display: initial;
    }
}
