@import "../../gvars.scss";

.selector {
  width: 100%;
  height: 44px;
  display: flex;
  position: relative;
  background: white;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 15px;
  margin: 0 auto;
  border-style: solid;
  border-radius: initial;
  border-color: $default_border_color;
  border-width: 0px 0px 1px 0px;
}

.custom-btn {
  background: none;
  color: #656565;
  font: inherit;
  font-size: 30px;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: inherit;
  transition: color 0.2s ease;
}

.custom-btn:hover {
  color: #5dbacd;
}

#date-text {
  display: table-cell;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  vertical-align: middle;
  padding: 0 15px;
  margin: 0 auto;
}

.fix-pos-left {
  position: absolute;
  right: 90%;
  top: 0%;
}

.fix-pos-right {
  position: absolute;
  right: 7%;
  top: 0%;
}

.sm-text {
  display: none;
  font-size: 14px;
}

.lg-text {
  display: initial;
  font-size: 20px;
}

/* mobile css */
@media screen and (max-width: 992px) {

  .selector {
    height: 40px;
    padding: 0px 0px;
    border-radius: 20px;
  }

  .sm-text {
    display: initial;
  }

  .lg-text {
    display: none;
  }

  #date-text {
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    margin: 0 auto;
  }

  .fix-pos-left {
    position: absolute;
    left: 7%;
    top: 0%;
  }

}
