<div class="selector">
  <!-- go to previous day -->
  <button [style.visibility]="showLeft ? 'visible' : 'hidden'"
    class="custom-btn" id="left-arrow" (click)="incrementDay(-1)">
    <i class="icon-caret-left fix-pos-left" aria-hidden="true"></i>
  </button>
  <!-- current date header -->
  <div id="date-text">
    <span class="sm-text">events for <br> {{dateString}}</span>
    <span class="lg-text">Events for {{dateString}}</span>
  </div>
  <!-- go to next day -->
  <button [style.visibility]="showRight ? 'visible' : 'hidden'"
    class="custom-btn" id="right-arrow" (click)="incrementDay(1)">
    <i class="icon-caret-right fix-pos-right" aria-hidden="true"></i>
  </button>
</div>
