<div id="categ-div" class="btn-group">
  <button id="categ-btn" type="button" class="btn dropdown-toggle"
          (click)="toggleDropdown()"
          [disabled]="events.length == 0">
    Filters<span class="caret"></span>
  </button>
  <div *ngIf="showDropdown" class="dropdown-content">
    <div *ngIf="filterHash" class="filters-header">
      Filters
      <a class="clear-all-btn" (click)="clearAllFilters()">CLEAR ALL</a>
    </div>
    <div class="filters-content">
      <div class="section-header">Location</div>
      <input class="form-control" type="text" id="location" placeholder="Enter a Location" value="{{getLoc()}}" (change)="setLocationFilter()">
      <div class="section-header">Date</div>
      <input type="date" class="form-control short-input" id="start-date" value="{{getStartDate()}}" (change)="setDateFilter()">
      to
      <input type="date" class="form-control short-input" id="end-date" value="{{getEndDate()}}" (change)="setDateFilter()">
      <div class="section-header">Time</div>
      <input type="time" class="form-control short-input" id="start-time" value="{{getStartTime()}}" (change)="setTimeFilter()">
      to
      <input type="time" class="form-control short-input" id="end-time" value="{{getEndTime()}}" (change)="setTimeFilter()">
      <div class="section-header">Tags</div>
      <div *ngIf="filterHash" class="filters-wrapper" id="loc-group">
        <div class="btn-group" id="loc-group">
          <label class="btn btn-outline-secondary filter-btn"
                 [ngClass]="{'active': filterHash['on-campus']}"
                 (click)="filterClicked('on-campus')">On-campus</label>
          <label class="btn btn-outline-secondary filter-btn"
                 [ngClass]="{'active': filterHash['off-campus']}"
                 (click)="filterClicked('off-campus')">Off-campus</label>
          <label class="btn btn-outline-secondary filter-btn"
                 [ngClass]="{'active': filterHash['nearby']}"
                 (click)="filterClicked('nearby')">Nearby</label>
        </div>
      </div>
    </div>
    <div *ngIf="categHash" class="categ-section-header">
        Categories
        <a class="clear-all-btn" (click)="clearCategories()">CLEAR ALL</a>
      </div>
      <div *ngIf="categHash" class="categories-wrapper">
        <ul class="categories-list" role="menu">
          <li *ngFor="let categKey of objectKeys(categHash)">
            <a *ngIf="categHash[categKey].numEventsDay != undefined && categHash[categKey].numEventsDay > 0"
               [ngClass]="{'dropdown-item': true, 'selected': categHash[categKey].selected}"
               (click)="categoryClicked(categKey)">
            <div class="checkbox-container">
              <div *ngIf="categHash[categKey].selected; else unchecked">
                <img class="checkbox" width="16px" src="assets/images/check.svg"/>
              </div>
            </div>
            <ng-template #unchecked>
                <div>
                  <img class="checkbox" width="16px" src="assets/images/box.svg" />
                </div>
            </ng-template>
            {{categHash[categKey].formattedCategory}}
            <span *ngIf="categHash[categKey].numEventsDay"
                  [ngClass]="{'badge': true, 'badge-secondary': true, 'categ-bubble': true, 'categ-bubble-selected': categHash[categKey].selected}">{{categHash[categKey].numEvents}}</span>
            </a>
          </li>
        </ul>
      </div>
  </div>
</div>
