<div id="categ-div" class="btn-group">
  <button id="categ-btn" type="button" class="btn dropdown-toggle"
          (click)="toggleDropdown()"
          [disabled]="events.length == 0">
    Filters<span class="caret"></span>
  </button>
  <div *ngIf="showDropdown" class="dropdown-content">
      <!-- <div class="section-header">Categories</div>
      <span *ngIf="this._calendarService.isMonthView()">
      <select name="categories" id="categories" class="custom-select" (change)="categoryClicked()" value="{{this._categService.getSelectedCategory()}}">
        <ng-container *ngFor="let categKey of objectKeys(categHash)">
          <option *ngIf="categHash[categKey].numEventsMonth != undefined && categHash[categKey].numEventsMonth > 0" value="{{categKey}}">
            {{categHash[categKey].formattedCategory}}
          </option>
        </ng-container>
      </select>
      </span>
      <span *ngIf="this._calendarService.isWeekView()">
        <select name="categories" id="categories" class="custom-select" (change)="categoryClicked()">
          <ng-container *ngFor="let categKey of objectKeys(categHash)">
            <option *ngIf="categHash[categKey].numEventsWeek != undefined && categHash[categKey].numEventsWeek > 0" value="{{categKey}}">
              {{categHash[categKey].formattedCategory}}
            </option>
          </ng-container>
        </select>
      </span> -->
      <div *ngIf="categHash" class="categ-section-header">
        Categories
        <a class="clear-all-btn" (click)="clearCategories()">CLEAR ALL</a>
      </div>
      <div *ngIf="categHash" class="categories-wrapper">
        <ul class="categories-list" role="menu">
          <li *ngFor="let categKey of objectKeys(categHash)">
            <a *ngIf="categHash[categKey].numEventsDay != undefined && categHash[categKey].numEventsDay > 0"
               [ngClass]="{'dropdown-item': true, 'selected': categHash[categKey].selected}"
               (click)="categoryClicked(categKey)">
            <div class="checkbox-container">
              <div *ngIf="categHash[categKey].selected; else unchecked">
                <img class="checkbox" width="16px" src="assets/images/check.svg"/>
              </div>
            </div>
            <ng-template #unchecked>
                <div>
                  <img class="checkbox" width="16px" src="assets/images/box.svg" />
                </div>
            </ng-template>
            {{categHash[categKey].formattedCategory}}
            <span *ngIf="categHash[categKey].numEventsDay"
                  [ngClass]="{'badge': true, 'badge-secondary': true, 'categ-bubble': true, 'categ-bubble-selected': categHash[categKey].selected}">{{categHash[categKey].numEvents}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="section-header">Location</div>
      <input class="form-control" type="text" placeholder="Enter a location">
      <div class="section-header">Organizer</div>
      <input class="form-control" type="text" placeholder="Enter a location">
      <div class="section-header">Date</div>
      <input type="date" class="form-control" id="short-input">
      to
      <input type="date" class="form-control" id="short-input">
      <div class="section-header">Time</div>
      <input type="time" class="form-control" id="short-input">
      to
      <input type="time" class="form-control" id="short-input">
      <div class="section-header">Tags</div>
      <div *ngIf="filterHash" class="filters-wrapper" id="loc-group">
        <div class="btn-group" id="loc-group">
          <label class="btn btn-outline-secondary filter-btn"
                 [ngClass]="{'active': filterHash['on-campus']}"
                 (click)="filterClicked('on-campus')">on-campus</label>
          <label class="btn btn-outline-secondary filter-btn"
                 [ngClass]="{'active': filterHash['off-campus']}"
                 (click)="filterClicked('off-campus')">off-campus</label>
          <label class="btn btn-outline-secondary filter-btn"
                 [ngClass]="{'active': filterHash['nearby']}"
                 (click)="filterClicked('nearby')">nearby</label>
        </div>
        <div class="btn-group" id="food-group">
          <label class="btn btn-outline-secondary filter-btn"
               [ngClass]="{'active': filterHash['free food']}"
               (click)="filterClicked('free food')">free food</label>
        </div>
      </div>
  </div>
</div>
