<div id="categ-div" class="btn-group">
  <button *ngIf="showToggleButton" id="categ-btn" type="button" class="btn dropdown-toggle" (click)="toggleDropdown()">
    Filters <span class="caret"></span>
  </button>
  <div *ngIf="showDropdown || !showToggleButton" class="dropdown-content" [ngClass]="{'show-toggle-btn': showToggleButton}">
    <div *ngIf="filterHash" class="filters-header">Filters
      <a class="clear-all-btn" (click)="clearFilters()">CLEAR ALL</a>
    </div>
    <div class="filters-content">
      <div class="section-container">
        <div class="section-header">Location</div>
        <input class="form-control" type="text" id="location" placeholder="Enter a Location" value="{{getLoc()}}" autocomplete="off" (focus)="clearLoc()" (input)="setLocationFilter()">
      </div>
      <div class="section-container">
        <div class="section-header">Date</div>
        <div class="section-input">
          <input type="date" class="form-control short-input" id="start-date" value="{{getStartDate()}}" (change)="setDateFilter()">
          <div class="to">to</div>
          <input type="date" class="form-control short-input" id="end-date" value="{{getEndDate()}}" (change)="setDateFilter()">
        </div>
      </div>
      <div class="section-container">
        <div class="section-header">Time</div>
        <div class="section-input">
          <input type="time" class="form-control short-input" id="start-time" value="{{getStartTime()}}" (change)="setTimeFilter()">
          <div class="to">to</div>
          <input type="time" class="form-control short-input" id="end-time" value="{{getEndTime()}}" (change)="setTimeFilter()">
        </div>
      </div>
      <div class="section-container">
        <div class="section-header">Tags</div>
        <div *ngIf="filterHash" class="filters-wrapper">
          <div class="btn-group" id="loc-group">
            <div class="btn btn-outline-secondary filter-btn" id="mobile-exclude"
                  [ngClass]="{'active': filterHash['on-campus']}"
                  (click)="tagClicked('on-campus')">on-campus</div>
            <div class="btn btn-outline-secondary filter-btn" id="mobile-exclude"
                  [ngClass]="{'active': filterHash['off-campus']}"
                  (click)="tagClicked('off-campus')">off-campus</div>
            <div class="btn btn-outline-secondary filter-btn" id="mobile-exclude"
                  [ngClass]="{'active': filterHash['nearby']}"
                  (click)="tagClicked('nearby')">nearby</div>
          </div>
          <div class="btn-group" id="loc-group-mobile">
            <div class="btn btn-outline-secondary filter-btn" id="mobile-only"
                  [ngClass]="{'active': filterHash['on-campus']}"
                  (click)="tagClicked('on-campus')"><p>on<br>campus</p></div>
            <div class="btn btn-outline-secondary filter-btn" id="mobile-only"
                  [ngClass]="{'active': filterHash['off-campus']}"
                  (click)="tagClicked('off-campus')"><p>off<br>campus</p></div>
            <div class="btn btn-outline-secondary filter-btn" id="mobile-only"
                  [ngClass]="{'active': filterHash['nearby']}"
                  (click)="tagClicked('nearby')"><p>nearby</p></div>
          </div>
        </div>
      </div>
      <div class="section-container">
        <div class="section-header"></div>
        <div *ngIf="filterHash" class="filters-wrapper">
          <div class="btn-group" id="food-group">
            <div class="btn btn-outline-secondary filter-btn" id="mobile-exclude"
                  [ngClass]="{'active': filterHash['free food']}"
                  (click)="tagClicked('free food')">free food</div>
          </div>
          <div class="btn-group" id="food-group-mobile">
            <div class="btn btn-outline-secondary filter-btn" id="mobile-only"
                  [ngClass]="{'active': filterHash['free food']}"
                  (click)="tagClicked('free food')">free food</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="categHash" class="categ-section-header">
        Categories
        <a class="clear-all-btn" (click)="clearCategories()">CLEAR ALL</a>
      </div>
      <div *ngIf="categHash" class="categories-wrapper">
        <ul class="categories-list" role="menu">
          <li *ngFor="let categKey of objectKeys(categHash)">
            <span *ngIf="this._viewService.isMonthView()">
            <a *ngIf="categHash[categKey].numEventsMonth != undefined && categHash[categKey].numEventsMonth > 0"
               [ngClass]="{'dropdown-item': true, 'selected': categHash[categKey].selected}"
               (click)="categoryClicked(categKey)">
            <div class="checkbox-container">
              <div *ngIf="categHash[categKey].selected; else unchecked">
                <img class="checkbox" width="16px" src="assets/images/check.svg"/>
              </div>
            </div>
            <ng-template #unchecked>
                <div>
                  <img class="checkbox" width="16px" src="assets/images/box.svg" />
                </div>
            </ng-template>
            {{categHash[categKey].formattedCategory}}
          </a>
            </span>
            <span *ngIf="this._viewService.isWeekView()">
            <a *ngIf="categHash[categKey].numEventsWeek != undefined && categHash[categKey].numEventsWeek > 0"
               [ngClass]="{'dropdown-item': true, 'selected': categHash[categKey].selected}"
               (click)="categoryClicked(categKey)">
            <div class="checkbox-container">
              <div *ngIf="categHash[categKey].selected; else unchecked">
                <img class="checkbox" width="16px" src="assets/images/check.svg"/>
              </div>
            </div>
            <ng-template #unchecked>
                <div>
                  <img class="checkbox" width="16px" src="assets/images/box.svg" />
                </div>
            </ng-template>
            {{categHash[categKey].formattedCategory}}</a>
            </span>
          </li>
        </ul>
      </div>
  </div>
</div>
