#categ-btn {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  border-radius: 0px;
  font-size: 20px;
}

#categ-div {
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid rgb(151, 151, 151);
  margin: 0 auto;
}

.categ-bubble {
  float: right;
}

.categ-bubble-selected {
  background-color: #8cd3d6;
}

.zero-events {
  color: #c6c6c6 !important;
}

.dropdown-toggle {
  border-bottom: 1px solid rgb(151, 151, 151);
  color: #656565;
}

.dropdown-item {
  cursor: pointer;
  color: #747473;
  line-height: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dropdown-menu {
  z-index: 998;
}

.dropdown-content {
  padding-top: 2%;
  top: 42px;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid rgb(151, 151, 151);
  z-index: 999;
  overflow-y: scroll;
  display: block;
  flex: 1;
  flex-basis: 300px;
}

.dropdown-content > * {
  margin: 2%;
  border: none;
}

.section-header {
  font-size: 16px;
  display: inline-block;
  width: 18%;
}

.custom-select{
  background-color: #E8E8E8;
  display: inline-block;
  width: 74%;
  border: none;
}

.form-control{
  background-color: #E8E8E8;
  display: inline-block;
  width: 74%;
}

.short-input{
  background-color: #E8E8E8;
  display: inline-block;
  width: 32.5%;
}

.filters-wrapper {
  text-align: left;
  width: 70%;
  align-items: left;
  display: inline-block;
  margin-bottom: 2%;
}

.btn-group{
  margin-bottom: 3%;
}

#loc-group {
  margin-right: 3%;
}

.filters-bottom-section {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.category-options {
  height: 400px;
  overflow:scroll;
}

.selected {
  /* background-color: #ff0000; */
  color: #77d5d7 !important;
}

.categ-checkbox {
  margin-right: 10px;
}

.categ-checkbox-checked {
  margin-right: 8px;
}

a:active {
  background-color: #F0F0F0;
}

.btn.filter-btn {
  border-color: #d3d3d3;
  border-width: 1px;
  /* background-color: #E8E8E8; */
  height: 40px;
  pointer-events: auto;
  transition: unset;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.filter-group + .filter-group {
  margin-top: 10px;
}

.btn.filter-btn:hover {
  background-color: #59dbd6;
  color: #fff;
}

.btn.filter-btn.active:hover {
  color: #ffffff;
}

.btn.filter-btn:active {
  border-color: #d3d3d3;
}

.btn.filter-btn.active {
  background-color: #4ad3d3;
  border-color: #d3d3d3;
}

.btn.filter-btn.disabled {
  pointer-events: none;
  opacity: .5;
}
