@import "../../gvars.scss";

:host {
    display: flex;
    flex: 1;
}

.weekview-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.week-number {
    position: absolute;
    left: 5%;
}

.day-header {
  background-color: #fff;
  height: 11%;
  width: 100%;
  padding: 5% 0% 5% 0%;
  display: block;
  border-top: 0px solid $default_border_color;
  border-bottom: 1px solid $default_border_color;
  float: left;
  clear: left;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 150;
  top: 0;
  background-clip: padding-box;
}

.corner-block {
  width: 8.6%;
}

.corner-block-2{
  width: 20px;
  border-left: 1px solid $default_border_color;
}

.short-abbr {
    display: none;
}

#scrollable {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
}

.timebar {
  width: 8%;
  height: 150%;
  background-color: white;
  align-items: flex-start;
  float: left;
  border-right: 1px solid $default_border_color;
}

.filler-block {
  height: 11%;
  background-color: inherit;
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
  top: 0;
}

.time-of-day {
  width: 100%;
  height: 89%;
}

.time-of-day tr {
  width: 100%;
  height: 4%;
  margin: 0;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: black;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
}

.weekview-day .time-of-day tr:not(:last-child) {
  border-bottom: 1px solid $default_border_color;
}

.hidden {
  visibility: hidden;
}

.time-of-day td {
  vertical-align: top;
}

.day-blocks {
  width: 92%;
  height: 150%;
  display: flex;
  flex-direction: column;
}

.weekview-month {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.weekview-day {
    position: relative;
    width: 14.2857%;
    display: block;
    align-items: flex-start;
    border-right: 1px solid $default_border_color;
    color: #bebebe;
    background-color: #fff;
}

.weekview-day.in-current-month {
    color: inherit;
}

.weekview-day.current-day {
    background-color: #ececec;
}

.day-of-month {
  width: 100%;
  text-align: center;
  font-size: 30px;
  display: block;
}

.today span {
  color: #59dbd6;

}

.weekview-day-event {
  float: left;
  clear: left;
  position: absolute;
  font-size: 10px;
  padding: 1% 3% 1% 3%;
  margin: 0%;
  border-radius: 2px;
  border: $default_border_width solid white;
  color: white;
  background-color: #747473;
  cursor: pointer;
  z-index: 2;
  width: 100%;
}

.event-details {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  overflow-y: hidden;
}

.event-time {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0%;
}

.event-name {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0%;
}

.current-time {
  width: 100%;
  height: 2%;
  border-top: 2px solid black;
  position: absolute;
  top: 20%;
  z-index: 10;
  visibility: hidden;
}

.current-time.today {
  visibility: visible;
}

/* mobile css */
@media screen and (max-width: 768px) {
    /* display short day abbreviations */
    .weekview-header > .short-abbr {
        display: flex;
    }
    .weekview-header > .long-abbr {
        display: none;
    }
    /* make day text centered */
    .weekview-day {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* end mobile css */
