.weekview-container {
    width: 100%;
    margin: 0;
}

.scrollable {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  position: relative;
}

.timebar {
  width: 4%;
  height: 150%;
  background: white;
  align-items: flex-start;
  float: left;
  border-right: 2px solid #aaa;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
}

.corner-block {
  width: 4%;
}

.filler-block {
  height: 4%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: inherit;
}

.time-of-day {
  width: 100%;
  height: 86%;
}

.time-of-day tr {
  width: 100%;
  height: 4%;
  text-align: center;
  margin: 0;
  font-size: 10px;
  color: black;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  z-index: 1;
}

.time-of-day td {
  vertical-align: middle;
}

.day-blocks {
  width: 96%;
  height: 150%;
  display: flex;
  flex-direction: column;
}

.selector {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #7a7a7a;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.weekNumber {
  position: absolute;
  left: 5%;
}

.selector i {
    font-size: 34px;
    cursor: pointer;
}

.weekview-header {
    width: 100%;
    display: flex;
    background-color: #59dbd6;
    color: #fff;
    padding: 10px 0;
}

.weekview-header span {
    display: flex;
    flex-basis: 13.428%; /* 96/7 */
    justify-content: center;
    align-items: center;
}

.weekview-month {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border-top: 1px solid #aaa;
}

.weekview-day {
    position: relative;
    width: 14.2857%; /* 100/7 */
    display: block;
    align-items: flex-start;
    border-right: 1px solid #aaa;
    color: #bebebe;
    background-color: #fff;
}

.weekview-day span {
  text-align: left;
  padding: 5%;
  float: left;
  clear: left;
  position: sticky;
  height: 4%;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  background-color: inherit;
  z-index: 5;
  top: 0;
}

.weekview-day-event {
  float: left;
  clear: left;
  font-size: 10px;
  width: 96%;
  padding: 3% 3% 3% 3%;
  margin: 0% 2% 2% 2%;
  border-radius: 2px;
  color: black;
  background-color: #59dbd6;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  z-index: 2;
}

.weekview-day.in-current-month {
    color: inherit;
}

.weekview-day.current-day {
    background-color: #ececec;
}

.weekview-day.today {
  color: #59dbd6;
  font-weight: 900;

}

.circle {
  /* border-radius: 50%; */
  /* width: 25px; */
  /* height: 25px; */
  /* background: #59dbd6; */
  /* color: #59dbd6; */
}

.weekview-header > .short-abbr {
    display: none;
}


/* mobile css */
@media screen and (max-width: 768px) {
    /* display short day abbreviations */
    .weekview-header > .short-abbr {
        display: flex;
    }
    .weekview-header > .long-abbr {
        display: none;
    }

    /* make day text centered */
    .weekview-day {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
