:host {
    display: flex;
    flex: 1;
}

.weekview-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.selector {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #7a7a7a;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.selector i {
    font-size: 34px;
    cursor: pointer;
}

.week-number {
    position: absolute;
    left: 5%;
}

.weekview-header {
    width: 100%;
    display: flex;
    background-color: #59dbd6;
    color: #fff;
    padding: 10px 0;
}

.weekview-header span {
    display: flex;
    flex-basis: 13.428%;
    justify-content: center;
    align-items: center;
}

.corner-block {
  width: 4%;
}

.weekview-header > .short-abbr {
    display: none;
}

#scrollable {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  overflow-y: scroll;
}

.timebar {
  width: 4%;
  height: 150%;
  background-color: white;
  align-items: flex-start;
  float: left;
  border-right: 2px solid #aaa;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
}

.filler-block {
  height: 4%;
  background-color: inherit;
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
  top: 0;
}

.time-of-day {
  width: 100%;
  height: 96%;
}

.time-of-day tr {
  width: 100%;
  height: 4%;
  margin: 0;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: black;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.time-of-day td {
  vertical-align: top;
}

.day-blocks {
  width: 96%;
  height: 150%;
  display: flex;
  flex-direction: column;
}

.weekview-month {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border-top: 1px solid #979797;
}

.weekview-day {
    position: relative;
    width: 14.2857%;
    display: block;
    align-items: flex-start;
    border-right: 1px solid #979797;
    color: #bebebe;
    background-color: #fff;
}

.weekview-day.in-current-month {
    color: inherit;
}

.weekview-day.current-day {
    background-color: #ececec;
}

.day-of-month {
  height: 4%;
  width: 100%;
  padding: 5%;
  float: left;
  clear: left;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #979797;
  position: -webkit-sticky;
  position: sticky;
  background-color: inherit;
  z-index: 150;
  top: 0;
}

.today span {
  color: #59dbd6;

}

.weekview-day-event {
  float: left;
  clear: left;
  position: absolute;
  font-size: 10px;
  padding: 1% 3% 1% 3%;
  margin: 0%;
  border-radius: 2px;
  border: 1px solid white;
  color: white;
  background-color: #747473;
  cursor: pointer;
  z-index: 2;
  width: 100%;
}

.event-details {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  overflow-y: hidden;
}

.event-time {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0%;
}

.event-name {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0%;
}

.current-time {
  width: 100%;
  height: 2%;
  border-top: 2px solid black;
  position: absolute;
  top: 20%;
  z-index: 10;
  visibility: hidden;
}

.current-time.today {
  visibility: visible;
}

/* mobile css */
@media screen and (max-width: 768px) {
    /* display short day abbreviations */
    .weekview-header > .short-abbr {
        display: flex;
    }
    .weekview-header > .long-abbr {
        display: none;
    }
    /* make day text centered */
    .weekview-day {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* end mobile css */
