<div class="weekview-container">
  <div class="selector">
    <i class="fa fa-caret-left" (click)="changeWeek(-1)" aria-hidden="true"></i>
    <span>{{currentWeek.format('MMM DD, YYYY')  + " - " + currentWeek.clone().add(6, 'days').format('MMM DD, YYYY')}}</span>
    <i class="fa fa-caret-right" (click)="changeWeek(1)" aria-hidden="true"></i>
  </div>
  <div class="weekview-header">
    <span class="long-abbr">sun</span>
    <span class="long-abbr">mon</span>
    <span class="long-abbr">tue</span>
    <span class="long-abbr">wed</span>
    <span class="long-abbr">thu</span>
    <span class="long-abbr">fri</span>
    <span class="long-abbr">sat</span>
    <span class="short-abbr">s</span>
    <span class="short-abbr">m</span>
    <span class="short-abbr">t</span>
    <span class="short-abbr">w</span>
    <span class="short-abbr">t</span>
    <span class="short-abbr">f</span>
    <span class="short-abbr">s</span>
  </div>
  <div class="weekview-month">
    <div *ngFor="let day of days"
         class="weekview-day"
         [ngClass]="{'in-current-month': day.inCurrentMonth, 'current-day': day === selectedDay, 'today': day === today}"
         (click)="onSelect(day)">
      <span [ngClass]="{'circle': day === selectedDay}">{{day.dayOfMonth}}</span>
      <div class="weekview-day-event" [ngClass]="{'in-current-month': day.inCurrentMonth}" *ngFor="let event of day.events">
        {{event.properties.name}}
      </div>
    </div>
  </div>
</div>
