<html>
<head>
    <title>Mappening</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Open+Sans|Roboto" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/faviconsFull/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/faviconsFull/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/faviconsFull/favicon-16x16.png">
    <link rel="manifest" href="../img/faviconsFull/manifest.json">
    <link rel="mask-icon" href="../img/faviconsFull/safari-pinned-tab.svg" color="#00e3b8">
    <meta name="apple-mobile-web-app-title" content="Mappening">
    <meta name="application-name" content="Mappening">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/404.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</head>
<body>

  <div class="background-404">
  		<div class="site-wrapper">
            <img class="404-img" src="../img/404-icon.png"/>
            <h1>Whoops.</h1>
            <p>You've gone off the map!</p>
            <p> Click <a style="color: rgb(83, 216, 216)" href="/">here</a> to go back home.</p>
  		</div>
  	</div>
</body>
</html>
