{{> header}}

<div class="container home-container">
    <!-- Sidebar Search Results -->
    <div id="search-results"></div>
    <div class="row home-row" id="regular-mount">
            <div class="sidebar-mount col-sm-5 col-md-5">
              <div id="categ-dropdown-mount"></div>
              <div id="events-mount"></div>
            </div>
            <div class="map-display col-sm-7 col-md-7" id="map">
              <div class='map-overlay top'>
                  <div class='map-overlay-inner'>
                    <button id="leftArrow" class="custom-btn date-btn" display="-webkit-inline-box" onclick="previousDay()"></button>
                    <span id="relativeDay"></span>
                    <span id="currDate"></span>
                    <button id="rightArrow" class="custom-btn date-btn" style="display:inline" onclick="nextDay()"></button>
                      <!--input id='slider' type='range' min='0' max='48' step='1' value='24' list='tickmarks'/-->
                  </div>
                  <div id="map-today-section">
                    <button class="custom-btn today-btn" onclick="goToday()">today</button>
                  </div>
              </div>
            </div>
    </div>
    <div class="row home-row" id="mobile-mount"></div>
</div>

{{> footer}}
