<div id="categ-div" class="btn-group">
  <button *ngIf="showToggleButton" id="categ-btn" type="button" class="btn dropdown-toggle"
          (click)="toggleDropdown()"
          [disabled]="events.length == 0">
    Filters<span class="caret"></span>
  </button>
  <div *ngIf="showDropdown || !showToggleButton" class="dropdown-content" [ngClass]="{'show-toggle-btn': showToggleButton}">
    <div *ngIf="filterHash" class="section-header">
      Filters
      <a class="clear-all-btn" (click)="clearFilters()">CLEAR ALL</a>
    </div>
    <div *ngIf="filterHash" class="filters-wrapper">
      <div *ngIf="this.eventService.isToday()" class="filter-group time-filter-group">
        <div class="btn-group">
          <label (click)="filterClicked('happening now')"
                 class="btn btn-outline-secondary filter-btn"
                 [ngClass]="{'active': filterHash['happening now'],
                             'disabled': !this.eventService.isToday() || filterHash['morning'] || filterHash['afternoon'] || filterHash['evening']}">happening now</label>
          <label class="btn btn-outline-secondary filter-btn"
                 (click)="filterClicked('upcoming')"
                 [ngClass]="{'active': filterHash['upcoming'],
                             'disabled': !this.eventService.isToday() || filterHash['morning'] || filterHash['afternoon'] || filterHash['evening']}">upcoming</label>
        </div>
      </div>

      <div class="filter-group tod-filter-group">
        <div class="btn-group">
          <label class="btn btn-outline-secondary filter-btn"
                 [ngClass]="{'active': filterHash['morning'],
                             'disabled': filterHash['happening now'] || filterHash['upcoming']}"
                 (click)="filterClicked('morning')">morning</label>
          <label class="btn btn-outline-secondary filter-btn"
                 [ngClass]="{'active': filterHash['afternoon'],
                             'disabled': filterHash['happening now'] || filterHash['upcoming']}"
                 (click)="filterClicked('afternoon')">afternoon</label>
          <label class="btn btn-outline-secondary filter-btn"
                 [ngClass]="{'active': filterHash['evening'],
                             'disabled': filterHash['happening now'] || filterHash['upcoming']}"
                 (click)="filterClicked('evening')">evening</label>
        </div>
      </div>

      <div class="filter-group loc-filter-group">
        <div class="btn-group">
          <label class="btn btn-outline-secondary filter-btn"
                 [ngClass]="{'active': filterHash['on-campus']}"
                 (click)="filterClicked('on-campus')">on-campus</label>
          <label class="btn btn-outline-secondary filter-btn"
                 [ngClass]="{'active': filterHash['off-campus']}"
                 (click)="filterClicked('off-campus')">off-campus</label>
          <label class="btn btn-outline-secondary filter-btn"
                 [ngClass]="{'active': filterHash['nearby']}"
                 (click)="filterClicked('nearby')">nearby</label>
        </div>
      </div>

      <!-- <div class="filters-bottom-section">
        <button type="button" class="btn btn-outline-secondary"
              [(ngModel)]="singleModel" btnCheckbox
              btnCheckboxTrue="1" btnCheckboxFalse="0">
          popular
        </button>
        <button type="button" class="btn btn-outline-secondary"
              [(ngModel)]="singleModel" btnCheckbox
              btnCheckboxTrue="1" btnCheckboxFalse="0">
          free food
        </button>
      </div> -->
    </div>

    <div *ngIf="categHash" class="section-header">
      Categories
      <a class="clear-all-btn" (click)="clearCategories()">CLEAR ALL</a>
    </div>
    <div *ngIf="categHash" class="categories-wrapper">
      <ul class="categories-list" role="menu">
        <li *ngFor="let categKey of objectKeys(categHash)">
          <a *ngIf="categHash[categKey].numEvents != undefined && categHash[categKey].numEvents > 0"
             [ngClass]="{'dropdown-item': true, 'selected': categHash[categKey].selected}"
             (click)="categoryClicked(categKey)">
          <div class="checkbox-container">
            <div *ngIf="categHash[categKey].selected; else unchecked">
              <img class="checkbox" width="16px" src="assets/images/check.svg"/>
            </div>
          </div>
          <ng-template #unchecked>
              <div>
                <img class="checkbox" width="16px" src="assets/images/box.svg" />
              </div>
          </ng-template>
          {{categHash[categKey].formattedCategory}}
          <span *ngIf="categHash[categKey].numEvents"
                [ngClass]="{'badge': true, 'badge-secondary': true, 'categ-bubble': true, 'categ-bubble-selected': categHash[categKey].selected}">{{categHash[categKey].numEvents}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
