#categ-btn {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  border-radius: 0px;
}

#categ-div {
  width: 100%;
}

.categ-bubble {
  float: right;
}

.categ-bubble-selected {
  background-color: #8cd3d6;
}

.zero-events {
  color: #c6c6c6 !important;
}

.dropdown-item {
  cursor: pointer;
  color: #747473;
}

.btn:hover {
  /* color: #5dbacd; */
}

.btn-light:hover {
  /* color: #5dbacd; */
}

#categ-btn {
  z-index: 999;
}

.dropdown-menu {
  z-index: 998;
}

.dropdown-content {
  position: absolute;
  top: 40px;
  background-color: white;
  width: 100%;
  overflow: scroll;
  height: inherit;
  z-index: 999;
}

.section-header {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  background-color: #E8E8E8;
  font-size: 14px;
}

.filters-wrapper {
  text-align: center;
}

.filters-bottom-section {
  margin-bottom: 15px;
}

.time-filter-group {
  margin-top: 15px;
}

.loc-filter-group {
  margin-bottom: 6px;
}

ul {
  list-style-type: none;
}

.categories-list {
  width: 100%;
  padding: 0 0 0 0;
  margin-bottom: 0px;
}

.selected {
  /* background-color: #ff0000; */
  color: #77d5d7 !important;
}

.categ-checkbox {
  margin-right: 10px;
}

.categ-checkbox-checked {
  margin-right: 8px;
}

a:active {
  background-color: #F0F0F0;
}

.clear-btn {
  float: right;
  margin-right: 15px;
  cursor: pointer;
  color: #808080 !important;
  padding-left: 3px;
  padding-right: 3px;
}

.btn.filter-btn {
  border-color: #ffffff;
  border-width: 2px;
  background-color: #E8E8E8;
  height: 40px;
  pointer-events: auto;
  transition: unset;
}

.btn.filter-btn:hover {
  background-color: #F5F5F5;
  color: #6d747c;
}

.btn.filter-btn.active:hover {
  color: #ffffff;
}

.btn.filter-btn:active {
  border-color: #ffffff;
}

.btn.filter-btn.active {
  background-color: #8dd3d6;
  border-color: #ffffff;
}

.btn.filter-btn.disabled {
  pointer-events: none;
}
