<div id="categ-div" class="btn-group">
  <button id="categ-btn" type="button" class="btn dropdown-toggle"
          (click)="toggleDropdown()">
    Filters<span class="caret"></span>
  </button>
  <div *ngIf="showDropdown" class="dropdown-content">

      <div class="section-header">Categories</div>

      <select name="categories" id="categories" class="custom-select">
        <option value="{{categHash[categKey].formattedCategory}}" *ngFor="let categKey of objectKeys(categHash)">{{categHash[categKey].formattedCategory}}</option>
      </select>

      <div class="section-header">Location</div>
      <input class="form-control" type="text" placeholder="Enter a location">

      <div class="section-header">Organizer</div>
      <select name="organizer" id="organizer" class="custom-select">
        <option value="acm">acm</option>
      </select>

      <div class="section-header">Date</div>
      From:
      <input type="date" class="form-control">
      To:
      <input type="date" class="form-control">

      <div class="section-header">Time</div>
      From:
      <input type="time" class="form-control">
      To:
      <input type="time" class="form-control">

    <div *ngIf="categHash" class="section-header">Categories</div>
    <div class="categories-wrapper">
      <ul class="categories-list" role="menu">
        <li *ngFor="let categKey of objectKeys(categHash)">
          <a [ngClass]="{'dropdown-item': true, 'zero-events': categHash[categKey].numEvents == undefined || categHash[categKey].numEvents == 0, 'selected': categHash[categKey].selected}"
          (click)="categoryClicked(categKey)">
          <i *ngIf="!categHash[categKey].selected" class="fa fa-square-o categ-checkbox" aria-hidden="true"></i>
          <i *ngIf="categHash[categKey].selected" class="fa fa-check-square-o categ-checkbox-checked" aria-hidden="true"></i>
          {{categHash[categKey].formattedCategory}}
          <span *ngIf="categHash[categKey].numEvents"
                [ngClass]="{'badge': true, 'badge-secondary': true, 'categ-bubble': true, 'categ-bubble-selected': categHash[categKey].selected}">{{categHash[categKey].numEvents}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
