#categ-btn {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  border-radius: 0px;
}

#categ-div {
  width: 100%;
}

.categ-bubble {
  float: right;
}

.zero-events {
  color: #c6c6c6 !important;
}

.dropdown-item {
  cursor: pointer;
  color: #747473;
}

.btn:hover {
  /* color: #5dbacd; */
}

.btn-light:hover {
  /* color: #5dbacd; */
}

#categ-btn {
  z-index: 999;
}

.dropdown-menu {
  z-index: 998;
}

.dropdown-content {
  position: absolute;
  top: 42px;
  background-color: white;
  width: 100%;
  overflow: auto;
  height: 200px;
  z-index: 999;
}

.section-header {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  background-color: #E8E8E8;
  font-size: 14px;
}

.filters-wrapper {
  text-align: center;
}

.filters-bottom-section {
  margin-bottom: 15px;
}

.time-filter-group {
  margin-top: 15px;
}

ul {
  list-style-type: none;
}

.categories-list {
  width: 100%;
  padding: 0 0 0 0;
}

.selected {
  /* background-color: #ff0000; */
  color: #77d5d7 !important;
}

.categ-checkbox {
  margin-right: 10px;
}

.categ-checkbox-checked {
  margin-right: 8px;
}

a:active {
  background-color: #F0F0F0;
}
