.sidebar-container{
    padding-right: 0px;
}
.map-container{
    padding-left: 0px;
    padding-right: 0px;
}
@media (min-width: 768px) {
.sidebar-container{
    margin-top: 0px;
}
  .column-1-4,
  .column-3-4 {
    position: relative;
    float: left;
  }
  .column-1-4 {
    right: 59%;
  }
  .column-3-4 {
    left: 41%;
  }
}
