<div class="sidebar-outer">
    <div class="sidebar">
        <app-category-bar></app-category-bar>
        <div class="event-list">
            <div *ngIf="show">
                <div *ngFor="let event of events"
                [class.selected]="event === selectedEvent"
                (click)="onSelect(event)">
                <a  class="sidebar-event">
                    <div class="sidebar-event-img-container col-sm-7 col-md-7 col-lg-7">
                        <img src="{{event.properties.cover_picture}}" class="sidebar-event-img">
                    </div>
                    <div class="sidebar-event-details col-sm-5 col-md-5 col-lg-5">
                        <p class="sidebar-event-name">{{event.properties.event_name}}</p>
                        <p class="sidebar-event-date"[innerHTML]="toHTML(event.properties.start_time)"></p>
                        <ng-template #venue_street>{{event.properties.venue.location.street}}</ng-template>
                        <ng-template #venue_name>{{event.properties.venue.name}}</ng-template>
                        <p class="sidebar-event-category">{{event.properties.category}}</p>
                    </div>
                </a>
                <div class="seperator"></div>
            </div>
        </div>
        <app-event-detail [event]="selectedEvent"  (showSideBar)="showSidebar($event)"></app-event-detail>
    </div>
</div>
</div>
