@import "../../gvars.scss";

:host {
    display: flex;
    flex: 1;
}

#event-list{
    flex: 1;
    overflow-y: scroll;
    flex-basis: 50px; /* Prevents event list from growing too large for the window size */
}

.search-header{
    border-bottom: 1px solid $default_border_color;
}

.sidebar-outer{
    border-right: 1px solid $default_border_color;
}

.sidebar-header{
    background-color: white;
    box-shadow: -1px 1px 1px rgb(207,207,207);
    text-align: center;
    color: rgb(116,116,116);
    font-weight: 500;
    font-size: 18px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.sidebar-event {
    width: 100%;
    padding: 4%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
}

.sidebar-event:hover, .sidebar-event:active{
    background-color: rgb(219, 219, 219);
}

.selected {
    background-color: rgb(219, 219, 219);
}

.sidebar-event-img{
    object-fit: cover;
    width: 100%;
    height: 16vh;
    vertical-align: top;
}

.sidebar-event-img-container{
    display: inline-block;
    width: 70%;
    padding: 5px;
    margin-right: 20px;
}

.sidebar-event-details {
    display: inline-block;
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    color: rgb(116,116,116);
    width: 100%;
}

@media only screen and (min-width: 768px) {
  .sidebar-event-img-container {
    width: 50%;
  }

  .sidebar-event-details {
    width: 48%;
    text-align: left;
  }
}

.sidebar-event-name {
    color: rgb(116,116,116);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 7px;
}

.sidebar-event-date {
  margin-bottom: 0px;
}

.sidebar-event-location {
  margin-bottom: 0px;
}

.sidebar-event-category{
  margin-top: 7px;
  font-style: italic;
}

.dropdown-menu {
    width: 100%;
}

.no-events-text {
    width: 100%;
    text-align: center;
    top: 20px;
    color: #a9a9a9;
}

.separator {
    height: 1px;
    background: rgb(151,151,151);
    background-position: 0, 100%, 0, 100%;
}

.move-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(130, 130, 130);
    height: 40px;
    cursor: pointer;
    font-size: 20px;
}

#no-events-section {
  margin-top: 50px;
  text-align: center;
  color: #a6a6a6;
}

#no-events-icon {
  font-size: 50px;
  color: #a6a6a6;
}

#no-events-label {
  margin-top: 10px;
}
