/* HeroesComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.sidebar-outer {
    width: 30%;
}
.events {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}
.events li {
  cursor: pointer;
  position: relative;
  left: 0;
  width: 100%;
  padding: 3%;
  box-sizing: border-box;
  display: inline-block;
}
.events li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.events li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.events .text {
  position: relative;
  top: -3px;
}
.events .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.sidebar-event {
    width: 100%;
    padding: 3%;
    box-sizing: border-box;
    display: inline-block;
}

.sidebar-event-img{
    object-fit: cover;
    width: 100%;
    height: 20%;
    vertical-align: top;
}

.sidebar-event-img-container{
    display: inline-block;
    width: 58%;
}

.sidebar-event-details {
    display: inline-block;
    font-size: 11px;
    display: inline-block;
    vertical-align: top;
    color: rgb(116,116,116);
}

.sidebar-event-details p {
    margin-bottom: 0px;
}

.sidebar-event-name {
    color: rgb(116,116,116);
    font-size: 19px;
    font-weight: 500;
}
