@import "../../gvars.scss";

:host {
  display: flex;
  flex: 1;
}

.sidebar-outer {
  border-right: $default_border_style;
}

.move-up {
  height: 50px;
  display: flex;
  flex-direction: column;
  background: white;
  color: rgb(130, 130, 130);
  font-size: 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top:  $default_border_style;
  border-bottom:  $default_border_style;
}

#event-list {
  // prevent event list from growing larger than window
  flex: 1;
  flex-basis: 50px;
  overflow-y: scroll;
}

.selected {
  background: rgb(219, 219, 219);
}

.no-events-text {
  width: 100%;
  text-align: center;
  top: 20px;
  color: #a9a9a9;
}

#no-events-section {
  color: #a6a6a6;
  text-align: center;
  margin-top: 50px;
}

#no-events-icon {
  color: #a6a6a6;
  font-size: 50px;
}

#no-events-label {
  margin-top: 10px;
}

.sidebar-date {
  background: #C6C6C6;
  font-size: 20px;
  text-align: center;
  padding: 3px;
}

.sidebar-event {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 4%;
  cursor: pointer;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.sidebar-event:hover, .sidebar-event:active {
  background: rgb(219, 219, 219);
}

.sidebar-event-img-container {
  width: 50%;
  display: inline-block;
  padding: 5px;
  margin-right: 20px;
}

.sidebar-event-img {
  width: 100%;
  height: 16vh;
  vertical-align: top;
  object-fit: cover;
}

.sidebar-event-details {
  width: 48%;
  text-align: left;
  position: relative;
  display: inline-block;
  color: rgb(116,116,116);
  font-size: 13px;
  vertical-align: top;
}

.sidebar-event-name {
  color: rgb(116,116,116);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 7px;
}

.sidebar-event-date {
  margin-bottom: 0px;
}

.sidebar-event-location {
  margin-bottom: 0px;
}

.sidebar-event-category {
  font-style: italic;
  margin-top: 7px;
}

.event-add {
  display: block;
  text-align: center;
  margin: auto;
}

#sidebar-event-add-button {
  color: #727272;
  font-size: 3em;
  text-decoration: none;
  padding: 0px 0px;
  margin: 0em .3em;
}

.pop-up-header {
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: auto;
}

.dd-item {
  display: block;
  color: #484747;
  text-align: center;
  padding: 5px 30px;
}

.dd-item:hover,visited,active {
  background: #C6C6C6;
  text-decoration: none;
  padding: auto;
}

.separator {
  height: 1px;
  background: $default_border_color;
  background-position: 0, 100%, 0, 100%;
}

/* mobile css */
@media screen and (max-width: 768px) {

  .sidebar-event-img-container {
    width: 70%;
  }

  .sidebar-event-details {
    width: 100%;
  }

}
