<h1 >Add to Calendar</h1>
<div>
	<ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="menu1">
	    <li role="presentation">  
		   	<a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
		   	<a class="dd-item" href="{{this._dateService.formatGoogleCalendar(event)}}"
		target="_blank" title="Add to Google Calendar" rel="nofollow">Google Calendar</a>
		</li>
		<li role="presentation">  
			<a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
			<a class="dd-item" (click)= "createICS(event)" [href]="fileUrl" download="{{event.properties.name}}.ics">Apple Calendar</a>
		</li>
	</ul>
</div>