<div class="threedayview-container" id="threeday-view-indicator">
  <div id="scrollable">
    <div class="timebar">
      <div class="filler-block"></div>
      <table class="time-of-day" id="far-left">
        <tr><td id="hour-slot">all day</td></tr><tr><td>1am</td></tr><tr><td>2am</td></tr><tr><td>3am</td></tr><tr><td>4am</td></tr>
        <tr><td>5am</td></tr><tr><td>6am</td></tr><tr><td>7am</td></tr><tr><td>8am</td></tr><tr><td>9am</td></tr>
        <tr><td>10am</td></tr><tr><td>11am</td></tr><tr><td>12pm</td></tr><tr><td>1pm</td></tr><tr><td>2pm</td></tr>
        <tr><td>3pm</td></tr><tr><td>4pm</td></tr><tr><td>5pm</td></tr><tr><td>6pm</td></tr><tr><td>7pm</td></tr>
        <tr><td>8pm</td></tr><tr><td>9pm</td></tr><tr><td>10pm</td></tr><tr><td>11pm</td><tr><td>12am</td></tr>
      </table>
    </div>
    <div class="day-blocks">
      <div class="weekview-month">
        <div *ngFor="let day of days" class="threedayview-day" (click)="onSelect(day)"
        [ngClass]="{'in-current-month': day.inCurrentMonth, 'current-day': day.isSelected, 'today': day.isToday}">
          <div class="day-header" id="{{'header'+day.dayOfMonth}}">
            <span class="long-abbr">{{day.dayOfWeek}}</span><span class="short-abbr">S</span>
            <span class="day-of-month" [ngClass]="{'selected': day.selected }">{{day.dayOfMonth}}</span>
          </div>
          <table class="time-of-day">
            <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
            <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
            <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
            <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
            <tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr><tr><td></td></tr>
          </table>
          <div class="current-time" [ngClass]="{'today': day.isToday}" [style.top]="currentTime()"></div>
          <div class="threedayview-day-event" [ngClass]="{'in-current-month': day.inCurrentMonth}" id="{{'event-' + event.id}}"
          *ngFor="let event of day.events" (click)="openEvent(event)" [ngStyle]="styleEvent(event,day.events)">
            <div class="event-details">
              <div class="event-time">{{eventTime(event)}}</div>
              <div class="event-name">{{eventName(event)}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
