@import "../../gvars.scss";

:host {
    display: flex;
    flex: 1;
}

.threedayview-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.week-number {
    position: absolute;
    left: 5%;
}

.day-header {
  background-color: #fff;
  height: 11%;
  width: 100%;
  padding: 5% 0% 5% 0%;
  display: block;
  border-top: 0px solid $default_border_color;
  border-bottom: 1px solid $default_border_color;
  float: left;
  clear: left;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 150;
  top: 0;
  background-clip: padding-box;
}

.corner-block {
  width: 8.6%;
}

.corner-block-2 {
  width: 20px;
  border-left: 1px solid $default_border_color;
}

.short-abbr {
    display: none;
}

#scrollable {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  width: 100%;
}

.timebar {
  width: 8%;
  height: 150%;
  background-color: white;
  border-right: 1px solid $default_border_color;
  align-items: flex-start;
  float: left;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 200;
  white-space: nowrap;
}

.filler-block {
  height: 11%;
  width: 100%;
  background-color: inherit;
  position: -webkit-sticky;
  position: sticky;
  z-index: 300;
  top: 0;
  overflow: visible;
}

.time-of-day {
  width: 100%;
  height: 89%;
}

.time-of-day-bar {
  width: 100%;
  height: 89%;
}

#far-left {
  overflow-x: hidden;
  table-layout: fixed;
}

.time-of-day tr {
  width: 100%;
  height: 4%;
  margin: 0;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: black;
}

.time-of-day-bar tr {
  width: 100%;
  //height: 4%;
  margin: 0;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: black;
}

.timestamp {
  height: 4%;
}

.threedayview-day .time-of-day tr:not(:last-child) {
  border-bottom: 1px solid $default_border_color;
}

.threedayview-day .time-of-day-bar tr:not(:last-child) {
  border-bottom: 1px solid $default_border_color;
}

.hidden {
  visibility: hidden;
}

.time-of-day td {
  vertical-align: top;
}

.time-of-day-bar td {
  vertical-align: top;
}

.day-blocks {
  width: 92%;
  height: 150%;
  display: flex;
  flex-direction: column;
}

.weekview-month {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.threedayview-day {
  position: relative;
  width: 33.3333%;
  display: block;
  align-items: flex-start;
  border-right: 1px solid $default_border_color;
  color: #bebebe;
  background-color: #fff;
  z-index: 1;
}

.threedayview-day.in-current-month {
  color: inherit;
}

.threedayview-day.current-day {
  background-color: #ececec;
}

.day-of-month {
  width: 100%;
  text-align: center;
  font-size: 30px;
  display: block;
}

.today span {
  color: #59dbd6;

}

.threedayview-day-event {
  float: left;
  clear: left;
  position: absolute;
  font-size: 13px;
  padding: 1% 3% 1% 3%;
  margin: 0%;
  border-radius: 6px;
  border: $default_border_width solid white;
  color: white;
  cursor: pointer;
  z-index: 2;
  width: 100%;
}

.event-details {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  overflow-y: hidden;
}

.event-time {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0%;
}

.event-name {
  width: 100%;
  white-space: normal;
  overflow: hidden;
  padding: 0%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.current-time {
  width: 100%;
  height: 2%;
  border-top: 2px solid black;
  position: absolute;
  top: 20%;
  z-index: 10;
  visibility: hidden;
}

.current-time.today {
  visibility: visible;
}

/* mobile css */
@media screen and (max-width: 768px) {
    /* display short day abbreviations */
    .threedayview-header > .short-abbr {
      display: flex;
      font-size: 12px;
    }
    .threedayview-header > .long-abbr {
      display: none;
    }
    .threedayview-day {
      border-right: 0px solid $default_border_color;
    }
    .threedayview-day tr {
      border-right: 1px solid $default_border_color;
    }
    .threedayview-day:first-child {
      border-right: 0px solid $default_border_color;
    }
    .day-header {
      height: 5%;
      background-color: #7B7B7B;
      vertical-align: middle;
      line-height: 200%;
      color: #fff;
      font-size: 15px;
      padding: 1% 0% 2% 0%;
      font-family: 'Nunito', sans-serif;
    }
    .filler-block {
      height: 5%;
      //width: 115%;
      background-color: #7B7B7B;
      border-right: 5px solid #7B7B7B;
    }
    #scrollable {
      overflow-x: scroll;
      z-index: 1;
    }
    .time-of-day td {
      overflow-x: hidden;
    }
    .day-of-month {
      font-size: 13px;
    }
    .time-of-day {
      height: 95%;
    }
    .time-of-day-bar {
      /*border-collapse: collapse;
      border-spacing: 0px;
      border: 0px;*/
      //width: 115%;
      height: 95%;
      font-family: 'Roboto', sans-serif;
    }
    .timebar {
      height: 150%;
      width: 9%;
      border-right: 0px solid $default_border_color;
      //padding-bottom: 5%;
    }
    .day-blocks {
      width: 91%;
    }
    /*.timebar tr {
      border-right: 1px solid $default_border_color;
    }*/
    .timebar:first-child {
      border-right: 0px solid $default_border_color;
    }
    .all-day {
      height: 2.5%;
    }
    .timestamp {
      height: 3%;
      /*border-collapse: collapse;
      border-spacing: 0px;
      border: 0px;*/
    }
    .hour {
      font-size: 15px;
      padding:-10px;
      margin:0;
      text-align: right;

      //margin-left:-5px;
      //margin-right:-5px;
      //margin-bottom: -20px;
      /*padding:0px; 
      border-width:0px; 
      margin:0px; */
    }
    .minutes {
      top: 10px;
      //padding:0;
      padding:-10px;
      margin:0;
      //margin-left:-5px;
      //margin-right:-5px;
      //margin-left: -2px;
      /*padding:0px; 
      border-width:0px; 
      margin:0px; */
    }
}
/* end mobile css */
