.event-container {
	background-color: #f2f2f2;
	display: inline-block;
	position: absolute;
	z-index: 500;
	height: 100%;
	width: 100%;
	overflow: auto;
}

.event-body {
	display: inline-block;
	position: absolute;
	z-index: 500;
	padding: 40px;
}

.event-image {
	max-height: 240px;
	max-width: 100%;
	object-fit: scale-down;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.event-title {
	color: #3c3c3c;
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 5px 0px 5px 0px;
}

.event-info {
	color: #3c3c3c;
	font-size: 18px;
	font-weight: bolder;
	font-style: italic;
	letter-spacing: 2px;
	margin: 5px 0px 5px 0px;
}

.event-description {
	color: #7c7c7c;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 5px 0px 5px 0px;
}


#left-chevron {
	display: block;
	height: 40px;
	font-size: 25px;
	color: #676767;
	font-weight: 250;
	line-height: 50px;
	margin-left: 10px;
	text-align: left;
}


@media (max-width: 992px) {
	.event-container {
		background-color: #f2f2f2;
		display: inline-block;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 500;
		height: 100%;
		width: 100%;
		overflow: auto;
	}

	.event-title {
		font-size: 22px;
	}
}