<div class="event-details d-flex flex-column">
  <div class="event-header">
    <button id="left-arrow" class="custom-btn" [routerLink]="['', {outlets: {sidebar: ['list']}}]" (click)="back()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </button>
    <span class="header-text">Explore Events</span>
  </div>
  <div *ngIf="event && event.properties" class="event-body">
    <img src="{{
      event.properties.cover_picture == '<NONE>' ?
        checkImage('/assets/images/banners/fb-banner-'+event.properties.categories[0].toLowerCase()+'.png') ?
        '/assets/images/banners/fb-banner-'+event.properties.categories[0].toLowerCase()+'.png'
        : '/assets/images/banners/fb-banner-default.png'
      : event.properties.cover_picture
    }}" class="event-image">
		<div class="event-title" id="event-title">{{event.properties.name}}</div>
		<div class="event-info" id="event-info">
      {{_dateService.formatEventDate(event) +' \u2022 '}} {{event.properties.hoster}}
      <span class="sidebar-event-location" *ngIf="event.properties.place.name;else venue_street">
        {{event.properties.place.name}}
      </span>
    </div>
    <div class="event-add" id="event-add">
      <span>
                      <div  class="dropdown" dropdown>
                          <a dropdownToggle class="pull-right text-center btn btn-setting dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria- expanded="true" ng-click="$event.stopPropagation();"></a>
                          <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              <li role="presentation">  <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a><a href="http://www.google.com/calendar/render?
action=TEMPLATE
&text={{event.properties.name}}
&dates={{_dateService.formatEventCalendar(event)}}
&details={{event.properties.description}}
&location={{event.properties.place.location.street}}
&trp=false
&sprop=
&sprop=name:"
target="_blank" title="Add to Google Calendar" rel="nofollow">Add to Google Calendar</a></li>
<li role="presentation">  <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a><a (click)= "createICS(event)" [href]="fileUrl" download="{{event.properties.name}}.ics">Download File</a></li>
                          </ul>
                      </div>
                  </div>
    <div class="sidebar-apple-add">
      <span>
        <a id="sidebar-apple-add-button" (click)="downloadICS()">Download ICS</a>
      </span>
    </div>
    <ng-template #venue_street>
      {{event.properties.place.location.street}}
    </ng-template>
    <div class="separator"></div>
    <div class="event-description" id="event-description">
      {{event.properties.description}}
    </div>
  </div>
</div>
