@import "../../gvars.scss";

.event-details {
	height: 100%;
	width: 100%;
	position: unset;
	top: 0;
	z-index: 200;
	border-right: $default_border_style;
}

.event-header {
	height: 40px;
	display: flex;
	position: unset;
	background: #ffffff;
	z-index: 600;
	align-items: center;
	border-bottom: $default_border_style;
}

#left-arrow {
	position: absolute;
	left: 20px;
	color: #656565;
	font-size: 24px;
}

#left-arrow:hover {
	color: #5dbacd;
}

.header-text {
	display: none;
}

.event-body {
	display: block;
	flex: 1;
  flex-basis: 100px;
	background: #ffffff;
	z-index: 500;
	padding: 40px;
	word-break: break-word;
	overflow-y: scroll;
}

.event-image {
	max-height: 240px;
	max-width: 100%;
	display: block;
	object-fit: scale-down;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.event-title {
	color: #3c3c3c;
	font-size: 32px;
	font-family: $default_font_family;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: normal;
	text-align: center;
	margin: 20px 0px;
}

.event-info {
	color: #3c3c3c;
	font-size: 18px;
	font-family: $default_font_family;
	font-weight: bolder;
	font-style: italic;
	letter-spacing: 2px;
	text-align: center;
	margin: 5px 0px 10px 0px;
}

.event-add {
	display: block;
	text-align: center;
	margin: auto;
}

.dropdown {
	display: inline-block;
	position: relative;
	text-align: center;
}

#event-add-button {
	margin: auto;
	background: #53D7D7;
	color: #ffffff;
	font: 3em;
	text-decoration: none;
	text-align: center;
	padding: 5px 50px;
	border-radius: 5px;
}

.dd-item {
	display: block;
	color: #484747;
	text-align: center;
	padding: 5px 30px;
}

.dd-item:hover,visited,active {
	background: #C6C6C6;
	text-decoration: none;
	padding: auto;
}

.separator {
	height: 1px;
	width: 50%;
	background: #7c7c7c;
	margin: 20px auto;
}

.event-description {
	color: #7c7c7c;
	font-size: 14px;
	font-family: $default_font_family;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 5px 0px 5px 0px;
	white-space: pre-wrap;
}

/* mobile css */
@media (max-width: 992px) {

	.event-title {
		font-size: 22px;
	}

}

/* mobile css */
@media screen and (max-width: 768px) {

	.event-details {
		position: fixed;
	}

	.event-header {
		position: relative;
		background: #494949;
	}

	#left-arrow {
		color: #d2d2d2;
	}

	.header-text {
		color: #e8e8e8;
		font-size: 22px;
		font-family: $default_font_family;
		font-weight: bolder;
		letter-spacing: 2px;
		margin: auto;
	}

}
