<div class="event-details d-flex flex-column">
  <!-- back button -->
  <div class="event-header">
    <button id="left-arrow" class="custom-btn" [routerLink]="['', {outlets: {sidebar: ['list']}}]" (click)="back()">
      <i class="icon-chevron-left" aria-hidden="true"></i>
    </button>
    <span class="header-text">Explore Events</span>
  </div>
  <!-- event card -->
  <div *ngIf="event && event.properties" class="event-body">
    <!-- event image -->
    <img class="event-image" src="{{ event.properties.cover_picture == '<NONE>' ?
      checkImage('/assets/images/banners/fb-banner-'+event.properties.categories[0].toLowerCase()+'.png') ?
      '/assets/images/banners/fb-banner-'+event.properties.categories[0].toLowerCase()+'.png' :
      '/assets/images/banners/fb-banner-default.png' : event.properties.cover_picture }}">
    <!-- event title -->
		<div class="event-title">
      {{event.properties.name}}
    </div>
    <!-- event date/time/location -->
		<div class="event-info">
      {{_dateService.formatEventDate(event) +' \u2022 '}} {{event.properties.hoster}}
      <span class="sidebar-event-location" *ngIf="event.properties.place.name;else venue_street">
        {{event.properties.place.name}}
      </span>
      <ng-template #venue_street>
        {{event.properties.place.location.street}}
      </ng-template>
    </div>
    <!-- add to personal calenar -->
    <span><div class="event-add">
      <div class="dropdown" dropdown>
        <!-- dropdown button -->
        <a id="event-add-button" dropdownToggle class="text-center btn btn-setting dropdown-toggle popupContainer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Add to Calendar</a>
        <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <!-- google calendar button -->
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
            <a class="dd-item" href="{{this._dateService.formatGoogleCalendar(event)}}" target="_blank" title="Add to Google Calendar" rel="nofollow">Add to Google Calendar</a>
          </li>
          <!-- apple calendar button -->
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
            <a class="dd-item" (click)= "createICS(event)" [href]="fileUrl" download="{{event.properties.name}}.ics">Add to Apple Calendar</a>
          </li>
        </ul>
      </div>
    </div></span>
    <!-- event description -->
    <div class="separator"></div>
    <div class="event-description">
      {{event.properties.description}}
    </div>
  </div>
</div>
