.event-container {
	background-color: #f2f2f2;
	display: inline-block;
	position: absolute;
	z-index: 500;
	height: 100%;
	width: 100%;
	overflow: auto;
}

.event-header {
	height: 60px;
	background-color: #ffffff;
	border-bottom: 1px solid #979797;
	margin: auto;
	z-index: 600;
	vertical-align: middle;
}

#left-chevron {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 30px;
}

.header-text {
	color: #3c3c3c;
	font-size: 22px;
	font-weight: bolder;
	letter-spacing: 2px;
}

.event-body {
	display: inline-block;
	z-index: 500;
	padding: 40px;
}

.event-image {
	max-height: 240px;
	max-width: 100%;
	object-fit: scale-down;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.event-title {
	color: #353535;
	font-size: 36px;
	font-weight: 900;
	letter-spacing: 2px;
	margin: 5px 0px 0px 0px;
	text-align: center;
}

.event-info {
	color: #3c3c3c;
	font-size: 18px;
	font-weight: 900;
	font-style: oblique;
	letter-spacing: 2px;
	margin: 20px 0px 20px 0px;
	text-align: center;
}

.event-description {
	color: #353535;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 5px 0px 5px 0px;
}
.seperator
{
    height: 1px;
    width: 50%;
    align-self: center;
    background: #979797;
    margin: auto;
    margin-bottom: 20px;
}


@media (max-width: 992px) {
	.event-container {
		background-color: #f2f2f2;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 500;
		height: 100%;
		width: 100%;
		overflow: auto;
	}
	.event-image {
		max-height: 100%;
		max-width: 100%;
		object-fit: scale-down;
		text-align: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}


}
