@import url("https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css");

:host {
    display: flex;
    flex: 1;
}

/*Override*/
/* It wont apply the CSS properly to a text injected through innerHTML, so https://stackoverflow.com/questions/36265026/angular-2-innerhtml-styling */
:host ::ng-deep .mapboxgl-popup-content {
    position: relative;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    padding: 0;
    pointer-events: auto;
    cursor: pointer;
    text-align: center;
    max-width: 14em;
}

/*Override*/
:host ::ng-deep .mapboxgl-popup {
    font-family: 'Poppins', sans-serif;
    max-width: 150;
    line-height: 150%;
    text-align: center;
    padding: inherit;
}

#map {
    width: 100%;
    bottom: 0;
    top: 0;
    height: 100%;
    padding-left: 0;
}

@media only screen and (min-width: 768px) {
    #map {
        position: absolute;
        width: 100%;
        bottom: 0;
        top: 0;
        height: 100%;
        padding-left: 0;
    }
}

:host ::ng-deep .popupContainer, :host ::ng-deep .backupPopupContainer {
  padding: 10px 10px 10px;
}

:host ::ng-deep .popupEvent, :host ::ng-deep .backupPopupEvent {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

:host ::ng-deep .popupDate, :host ::ng-deep .backupPopupDate {
    color:  #FF3A3A;
    font-size: 11;
}

:host ::ng-deep #resetButton {
  right: 10px;
  z-index: 1000;
  position: absolute;
  top: 150px;
  width: 31px;
  height: 31px;
  border-radius: 7px;
  padding: 0;
  border-style: none;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
  background-color: white;
  font-size: 20px;
  color: #333333;
  outline: none !important;
}

:host ::ng-deep #resetButton:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}
