 @import "https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css";

 #map {
     position: relative;
     /* height: 600px; */
     width: 100%;
     bottom: 0;
     /* width: 100%; */
     height: 100%;
     box-shadow: -1px 1px 1px #888888;
     padding-left: 0;
}


 #popupEvent {
   display: inline;
 }

/* It wont apply the CSS properly to a text injected through innerHTML, so https://stackoverflow.com/questions/36265026/angular-2-innerhtml-styling */
 :host ::ng-deep #popupDate {
   color:  #FF3A3A;
   font-size: 11;
 }
