@import "../../gvars.scss";

$selector-padding: 9.7px;

.selector {
    background-color: #fff;
    color: #484747;
    text-align: center;
    border-bottom: $default_border_width solid $default_border_color;
    position: relative;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    padding: $selector-padding;
}

#empty-selector-block {
    width: 100px;
}

:host {
    flex: 1;
}

.calendar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.custom-btn {
    transition: color 0.2s ease;
}

.custom-btn:hover {
    color: #5dbacd;
}

#left-caret {
    float: left;
}

#right-caret {
    float: right;
}

router-outlet.router-flex + * {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

#calendar-controls {
    font-size: 26px;
}

#calendar-controls-wrapper {
    width: 200px;
}

#calendar-controls-wrapper i {
    font-size: 30px;
}

#calendar-controls-wrapper span {
    margin: 0 10px;
}

#month-week-switch {
    font-size: 0.8rem;
    cursor: pointer;
    display: flex;
    margin-left: 5px;
}

#week-number {
  font-size: 20px;
  width: 100px;
}

#mobile-week-number {
    display: none;
    z-index: 1000;
    font-size: 10px;
    text-align: center;
}

#month-switch {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: $default_border_width solid $default_border_color;
    padding: 4px 10px;
    font-size: 18px;
    margin: 0;
}

#month-switch.active {
    background: #656565;
    color: #fff;
}

#week-switch.active {
    background: #656565;
    color: #fff;
}

#week-switch {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: $default_border_width solid $default_border_color;
    padding: 4px 10px;
    font-size: 18px;
    margin: 0;
}

#mobile-month-switch {
    display: none;
    border-radius: 4px;
    border: $default_border_width solid $default_border_color;
    padding: 8px 10px;
    font-size: 18px;
    margin: 0;
}

#mobile-month-switch.active {
    background: #656565;
    color: #fff;
}

#mobile-week-switch.active {
    background: #656565;
    color: #fff;
}

#mobile-week-switch {
    display: none;
    border-radius: 4px;
    border: $default_border_width solid $default_border_color;
    padding: 8px 10px;
    font-size: 18px;
    margin: 0;
}

/* mobile css */
@media screen and (max-width: 768px) {
    /* display short day abbreviations */
    #calendar-controls-wrapper {
        width: 150px;
        width: 46%;
        display: block;
        position: absolute;
        left: 27%;
    }
    .selector {
      height: 60px;
    }
    #calendar-controls {
        font-size: 16px;
    }
    #week-number {
        display: none;
    }
    #month-week-switch {
        display: none;
    }
    #empty-selector-block {
        display: none;
    }
    #mobile-week-switch {
        display: flex;
        width: 20%;
        overflow-x: hidden;
        white-space: nowrap;
        font-size: 14px;
        align-items: center;
        position: absolute;
        left: 3%;
    }
    #mobile-month-switch {
        display: flex;
        width: 20%;
        overflow-x: hidden;
        white-space: nowrap;
        font-size: 14px;
        align-items: center;
        position: absolute;
        right: 3%;
    }
    #mobile-week-number {
        display: block;
        font-size: 12px;
    }
    #left-caret {
        float: left;
    }
    #right-caret {
        float: right;
    }
}
