@import "../../gvars.scss";

::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

#toggle-btn {
  width: 100%;
  height: 40px;
  font-size: 20px;
  margin: 0 auto;
  border-radius: 0px;
}

#filter-div {
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
}

a.clear-all-btn {
  float: right;
  color: #808080;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 15px;
}

a.clear-all-btn:hover {
  color: #BEBEBE;
}

a.clear-all-btn:active {
  background: inherit;
}

.categ-bubble {
  float: right;
}

.categ-bubble-selected {
  background: #8cd3d6;
}

.zero-events {
  color: #c6c6c6 !important;
}

.dropdown-toggle {
  color: #656565;
  border-bottom: $default_border_style;
}

.dropdown-item {
  display: flex;
  color: #747473;
  line-height: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
}

.dropdown-menu {
  z-index: 998;
}

.dropdown-content {
  width: 100%;
  display: block;
  flex: 1;
  flex-basis: 300px;
  top: 42px;
  background: white;
  z-index: 999;
  overflow-y: scroll;
  border-bottom: $default_border_style;
}

.section-header {
  width: 18%;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.filters-header {
  background: #E8E8E8;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
}

.filters-content {
  padding: 8px;
}

.filters-content > * {
  margin: 2%;
  border: none;
}

.custom-select{
  width: 80%;
  display: inline-block;
  background: rgb(239,239,239);
  border: none;
  border-radius: 0px;
}

.form-control{
  width: 76%;
  display: inline-block;
  background: rgb(239,239,239);
  border: none;
  border-radius: 0;
}

.clear-button{
  float: right;
  background: rgb(239,239,239);
  color: #808080;
  font-size: 22px;
  cursor: pointer;
  border: none;
}

.clear-button:hover{
  color: #BEBEBE;
}

.clear-button:focus{
  outline: 0;
}

.short-input{
  width: 37%;
  display: inline-block;
  background: rgb(239,239,239);
}

.section-container{
  position: relative;
}

.to {
  width: 8%;
  display: inline-block;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0%;
  margin: 0%;
}

#end-date{
  position: absolute;
  right: 0;
}

#end-time{
  position: absolute;
  right: 0;
}

.filters-wrapper {
  width: 82%;
  display: inline-block;
  text-align: left;
  align-items: left;
}

#loc-group {
  width: 100%;
  margin-right: 3%;
}

#food-group {
width: 100%;
  margin-right: 3%;
}

ul {
  list-style-type: none;
}

.category-options {
  height: 400px;
  overflow:scroll;
}

.categ-section-header {
  background: #E8E8E8;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
}

.categories-list {
  width: 100%;
  padding: 0 0 0 0;
  margin-bottom: 0px;
}

.selected {
  color: #77d5d7 !important;
}

.categ-checkbox {
  margin-right: 10px;
}

.categ-checkbox-checked {
  margin-right: 8px;
}

.checkbox-container {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 11px;
}

a:active {
  background: #F0F0F0;
}

.btn.filter-btn {
  height: 40px;
  width: 34%;
  display: flex;
  pointer-events: auto;
  transition: unset;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 0px;
  border: $default_border_style;
}

.filter-group + .filter-group {
  margin-top: 10px;
}

a.clear-all-btn {
  float: right;
  cursor: pointer;
  color: #808080;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 15px;
}

a.clear-all-btn:hover {
  color: #BEBEBE;
}

a.clear-all-btn:active {
  background: inherit;
}

.btn.filter-btn:hover {
  background: #59dbd6;
  color: #fff;
}

.btn.filter-btn.active:hover {
  color: #ffffff;
}

.btn.filter-btn:active {
  border-color: $default_border_color;
}

.btn.filter-btn.active {
  background: #4ad3d3;
  border-color: $default_border_color;
}

.btn.filter-btn.disabled {
  pointer-events: none;
  opacity: .5;
}

.section-input {
  display: initial;
}

#mobile-only{
  display: none;
}

#loc-group-mobile{
  display: none;
}
#food-group-mobile{
  display: none;
}

/* mobile css */
@media screen and (max-width: 768px) {

  .dropdown-content {
    flex-basis: 336px;
  }

  .section-header{
    width: 20%;
    font-size: 14px;
    overflow-x: none;
    white-space: nowrap;
  }

  .form-control{
    width: 80%;
    font-size: 14px;
  }

  .short-input{
    width: 36%;
    font-size: 14px;
  }

  .filters-wrapper{
    width: 80%;
  }

  .filter-btn {
    width: 33%;
    display: block;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    line-height:1em;
  }

  #loc-group {
    display: none;
  }

  #loc-group-mobile {
    display: flex;
    width: 100%;
  }

  #food-group {
    display: none;
  }

  #food-group-mobile {
    display: flex;
    width: 100%;
  }

  #mobile-only{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  #mobile-only p {
    margin: 0;
  }

  #mobile-exclude{
    display: none;
  }

}
