<div id="filter-div" class="btn-group">
  <!-- dropdown button -->
  <button *ngIf="showToggleButton" id="toggle-btn" type="button" class="btn dropdown-toggle" (click)="toggleDropdown()">
    Filters <span class="caret"></span>
  </button>
  <!-- filters menu -->
  <div *ngIf="showDropdown || !showToggleButton" class="dropdown-content" [ngClass]="{'show-toggle-btn': showToggleButton}">
    <!-- filters subheader -->
    <div *ngIf="tagHash" class="filters-header">
      <a class="clear-all-btn" (click)="clearFilters()">CLEAR ALL</a>
      <div class="event-add">
        <div class="dropdown" dropdown>
          <!-- dropdown button -->
          <a id="event-add-button" dropdownToggle class="text-center btn btn-setting dropdown-toggle popupContainer"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Location<span class="caret"></span></a>
          <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
              <a class="dd-item">On Campus</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
              <a class="dd-item">Off Campus</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
              <a class="dd-item">Nearby</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
              <a class="dd-item">Custom Location</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="event-add">
        <div class="dropdown" dropdown>
          <a id="event-add-button" dropdownToggle class="text-center btn btn-setting dropdown-toggle popupContainer"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Dates<span class="caret"></span></a>
          <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
              <a class="dd-item">Today</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
              <a class="dd-item">Tomorrow</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
              <a class="dd-item">This Week</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
              <a class="dd-item">This Weekend</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
              <a class="dd-item">This Month</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
              <a class="dd-item">Custom Date Span</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="event-add">
        <div class="dropdown" dropdown>
          <a id="event-add-button" dropdownToggle class="text-center btn btn-setting dropdown-toggle popupContainer"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Time<span class="caret"></span></a>
          <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
              <a class="dd-item">Happening Now</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
              <a class="dd-item">Upcoming</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
              <a class="dd-item">Morning</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
              <a class="dd-item">Afternoon</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
              <a class="dd-item">Evening</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" data-toggle="modal" data-target="#myModal"></a>
              <a class="dd-item">Custom Time Span</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="categHash" class="categories-wrapper">
      <ul class="categories-list" role="menu">
        <li *ngFor="let categKey of objectKeys(categHash)">
          <a *ngIf="categKey != 'all'" [ngClass]="{'dropdown-item': true, 'selected': categHash[categKey].selected}"
             (click)="categoryClicked(categKey)">
          <div class="checkbox-container">
            <div *ngIf="categHash[categKey].selected; else unchecked">
              <img class="checkbox" width="16px" src="assets/images/check.svg"/>
            </div>
          </div>
          <ng-template #unchecked><div>
            <img class="checkbox" width="16px" src="assets/images/box.svg" />
          </div></ng-template>
          {{categHash[categKey].formattedCategory}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
