@import "../../gvars.scss";

::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

#toggle-btn {
  width: 100%;
  height: 40px;
  font-size: 20px;
  margin: 0 auto;
  border-radius: 0px;
}

#filter-div {
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
}

a.clear-all-btn {
  float: right;
  color: #808080;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 15px;
}

a.clear-all-btn:hover {
  color: #BEBEBE;
}

a.clear-all-btn:active {
  background: inherit;
}

.categ-bubble {
  float: right;
}

.categ-bubble-selected {
  background: #8cd3d6;
}

.zero-events {
  color: #c6c6c6 !important;
}

.dropdown-toggle {
  color: #656565;
  border-bottom: $default_border_style;
}

.dropdown-item {
  display: flex;
  color: #747473;
  line-height: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
}

.dropdown-menu {
  z-index: 998;
  width: 140px;
  padding: 0;
  margin: 0;
}

.dropdown-content {
  width: 100%;
  display: block;
  flex: 1;
  flex-basis: 290px;
  top: 42px;
  background: white;
  z-index: 999;
  border-bottom: $default_border_style;
}

.filters-bar {
  background: white;
  border-bottom: $default_border_style;
  height: 70px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 50px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown {
	position: relative;
	text-align: center;
  float: left;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5px;
  height: 50px;
  min-width: 160px;
}

.filter-dropdown {
	margin: auto;
  min-width: 160px;
  max-width: 160px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
	background: white;
  border: $default_border_style;
	color: #ffffff;
	font: 3em;
	text-decoration: none;
	text-align: center;
	padding: 5px 30px;
	border-radius: 10px;
}

.selected-dropdown {
  background: #53D7D7;
}

li {
	display: block;
  padding: 0;
  margin: 0;
}

.dd-item {
	display: block;
  margin: 0;
	color: #484747;
	text-align: left;
  cursor: pointer;
	padding: 2px 10px;
}

.selected-dd-item {
  background: #53D7D7;
  text-decoration: none;
  padding: auto;
}

.dd-item:hover,visited,active {
	background: #53D7D7;
	text-decoration: none;
	padding: auto;
}


ul {
  list-style-type: none;
}

.categories-wrapper {
  padding: 10px;
}

.categories-list {
  width: 100%;
  padding: 0 0 0 0;
  margin-bottom: 0px;
}

.selected {
  color: #77d5d7 !important;
}

.categ-checkbox {
  margin-right: 10px;
}

.categ-checkbox-checked {
  margin-right: 8px;
}

.checkbox-container {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 11px;
}

a:active {
  background: #F0F0F0;
}

.btn.filter-btn {
  height: 40px;
  width: 34%;
  display: flex;
  pointer-events: auto;
  transition: unset;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 0px;
  border: $default_border_style;
}

.filter-group + .filter-group {
  margin-top: 10px;
}

a.clear-all-btn {
  float: left;
  width: 18%;
  cursor: pointer;
  color: #808080;
  padding-left: 3px;
  margin: 0%;
  padding-right: 3px;
}

.dropdown-bar {
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin-right: 10%;
}

a.clear-all-btn:hover {
  color: #BEBEBE;
}

a.clear-all-btn:active {
  background: inherit;
}

.btn.filter-btn:hover {
  background: #59dbd6;
  color: #fff;
}

.btn.filter-btn.active:hover {
  color: #ffffff;
}

.btn.filter-btn:active {
  border-color: $default_border_color;
}

.btn.filter-btn.active {
  background: #4ad3d3;
  border-color: $default_border_color;
}

.btn.filter-btn.disabled {
  pointer-events: none;
  opacity: .5;
}

.section-input {
  display: initial;
}

#mobile-only{
  display: none;
}

#loc-group-mobile{
  display: none;
}
#food-group-mobile{
  display: none;
}

.pop-up-header {
  margin-bottom: 30px;
  width: 100%;
}

.pop-up-content {
  width: 100%;
}

.places {
  display: inline-block;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  height: 40px;
  background: #efefef;
  padding: 5px;
  padding-left: 15px;
  vertical-align: center;
  width: 70%;
}

a.apply-btn {
  float: right;
  color: #808080;
  cursor: pointer;
  padding-left: 3px;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  padding-right: 3px;
  width: 20%;
  margin: 0;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.apply-btn:hover {
  color: #BEBEBE;
}

a.apply-btn:active {
  background: inherit;
}

/* mobile css */
@media screen and (max-width: 768px) {

  .dropdown-content {
    flex-basis: 336px;
  }

  .section-header{
    width: 20%;
    font-size: 14px;
    overflow-x: none;
    white-space: nowrap;
  }

  .form-control{
    width: 80%;
    font-size: 14px;
  }

  .short-input{
    width: 36%;
    font-size: 14px;
  }

  .filters-wrapper{
    width: 80%;
  }

  .filter-btn {
    width: 33%;
    display: block;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    line-height:1em;
  }

  #loc-group {
    display: none;
  }

  #loc-group-mobile {
    display: flex;
    width: 100%;
  }

  #food-group {
    display: none;
  }

  #food-group-mobile {
    display: flex;
    width: 100%;
  }

  #mobile-only{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  #mobile-only p {
    margin: 0;
  }

  #mobile-exclude{
    display: none;
  }

}
