.calendar-month {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

.calendar-day {
    position: relative;
    display: flex;
    flex-basis: 14.2857%; /* 100/7 */
    justify-content: center;
    align-items: center;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #aaa;
    height: 50px;
}

.calendar-day.in-current-month {
    color: inherit;
}

.circle {
    position: absolute;
    bottom: 10%;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background-color: #59dbd6;
}
