.selector {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #7a7a7a;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.selector i {
    font-size: 34px;
    cursor: pointer;
}

.calendar-header {
    width: 100%;
    display: flex;
    background-color: #59dbd6;
    color: #fff;
    padding: 10px 0;
}

.calendar-header span {
    display: flex;
    flex-basis: 14.2857%; /* 100/7 */
    justify-content: center;
    align-items: center;
}

.calendar-month {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

.calendar-day {
    position: relative;
    display: flex;
    flex-basis: 14.2857%; /* 100/7 */
    justify-content: center;
    align-items: center;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color: #bebebe;
    background-color: #fff;
    height: 50px;
}

.calendar-day.in-current-month {
    color: inherit;
}

.calendar-day.current-day {
    background-color: #ececec;
}

.circle {
    position: absolute;
    bottom: 10%;
    height: 6px;
    width: 6px;
    border-radius: 3px;
    background-color: #59dbd6;
}
