<google-map
  id="map"
  height="100%"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="click($event)">
  <map-marker
    #markerElem
    *ngFor="let marker of markers | keyvalue"
    [position]="marker.value.position"
    [label]="marker.value.label"
    [title]="marker.value.title"
    [options]="marker.value.options"
    (mapClick)="openInfo(markerElem, marker.value.info)"
    (mapMouseover)="mouseoverMarker(markerElem, marker.value.info)"
    (mapMouseout)="mouseoutMarker(markerElem)"
  >
  </map-marker>

  <map-info-window [innerHTML]="infoContent"></map-info-window>
</google-map>
