
:host {
  display: flex;
  flex: 1;
}

#map {
  width: 100%;
  bottom: 0;
  top: 0;
  height: 100%;
  padding-left: 0;
}

// :host ::ng-deep .popupEvent, :host ::ng-deep .backupPopupEvent {
//   // text-overflow: ellipsis;
//   // white-space: nowrap;
//   // overflow: hidden;
// }

:host ::ng-deep .popup-date {
  color:  #FF3A3A;
  font-size: 11;
  text-align: center;
}
